.banner{
  padding: 14px 20px;
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 5px;
}

.product{
  padding: 10px;
}
.product-intro{
  color: #666666;
  font-size: 1.1em;
  font-weight: 500;
}

.product-info{
  margin-right: 75px;
  /*float: left;*/
}
.produce-name{
  margin-bottom: 10px;
}
.produce-share{
  float: right;
  width: 44px;
  text-align: center;
  border-left: solid 1px #d2d2d2; 
}
.limit{
  margin-left: 5px;
  font-size: 0.8em;
  color: #ff8a44;
  vertical-align: 3px;
}

.product-images, .product-img{
  width: 100%;
  margin-top: 5px;
}

.image-nav{
  text-align: center;
  margin-top: 13px;
}

.image-nav .circle{
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px #666;
  margin-right: 6px;
}

.image-nav .circle.selected{
  background: #666;
}

.pursue-info{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45px;
  line-height: 45px;
}
.pursue-info .tel, .pursue-info .fav{
  float: left;
  background: #e7e7e7;
  color: #868686;
  text-align: center;
  width: 23%;
  height: 100%;
  box-sizing: border-box;
}
.pursue-info .cart, .pursue-info .buy{
  float: left;
  width: 27%;
  text-align: center;
  color: white;
  height: 100%;
}

.pursue-info .cart{
  background: #565656;
}
.pursue-info .buy{
  background: #1c1c1c;
}
.i-communicate, .i-fav{
  vertical-align: -3px;
  margin-right: 3px;
}
