.tabs{
  border-bottom: solid 1px #e6e6e6;
}
.vertical-tabs{
  margin-top: 49px;
  width: 60px;
  text-align: center;
  background: #f8f8f8;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.vertical-tabs .nav-item{
  /*padding: 15px 0;*/
  padding: 8px 0;
}

.vertical-tabs .nav-item .zh{
  /*font-size: 1.3em;*/
  font-size: 1.2em;
  padding: 0 10px;
  line-height: 1.2em;
  color: #666;
}
.vertical-tabs .nav-item .en{
  font-size: 0.8em;
  color: #ccc;
}

.vertical-tabs .nav-item.selected{
  background: white;  
}
.vertical-tabs .nav-item.selected .zh, .vertical-tabs .nav-item.selected .en{
  color: #949cff;
}

.main-content{
  padding-top: 49px;
  margin-left: 60px;
  padding-left: 4%;
  position: relative;
  padding-bottom: 40px;
}

.cloth{
  width: 32.6%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 4%;
  height: 172px;
}

.cloth-wrapper{
  display: block;
  color: black;
}

.cloth .cloth-img, .cloth .cloth-name, .cloth .cloth-price{
  width: 90%;
  text-align: left;
  margin: auto;
  font-size: 0.7em;
  margin-bottom: 5px;
}
.cloth .cloth-img{
  width: 80px;
  height: 88px;
}
.cloth .cloth-price{
  margin-bottom: 0;
  line-height: 1.1em;
}
.cloth .price.no-discount{
  line-height: 20px;
}
.loading-spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  /*margin-left: -50px;*/
}
.bordered{
  border-bottom: solid 1px white; /*E4E4E4*/
}