body{
	background-color:#f9f9f9;
}

#flash-pro-cont-2{
	display:none;
}

.time-tab{
	height: 16px;
	padding: 11px 0;
	border-bottom: 1px solid #dcdcdc;
	font-size: 0;
	background-color: #fff;
	margin-bottom: 10px;
}

.time-tab a{
	display: inline-block;
	box-sizing:border-box;
	width: 33.3%;
	text-align: center;
	font-size: 16px;
	color: #000;
}

.countdown{
	display:inline-block;
}

.countdown li{
	display:inline-block;
}

.time-tab a{
	border-right: 1px solid #dcdcdc;
}

.time-tab a:last-child{
	border:none;
}

.icon-time{
	width: 16px;
	height:16px;
	vertical-align: middle;
	background-position:-151px -311px;
}

.cur{
	background-position:-124px -311px;
}

.time-tab span{
	vertical-align: middle;
}

.time{
	height: 38px;
	line-height: 38px;
	background-color: #fff;
	text-align: center;
	font-size: 14px;
	border-top:1px solid #dcdcdc;
}

.flash-menu li{
	padding: 15px 3px;
	height: 154px;
	background-color: #fff;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 12px;
	position: relative;
}

.flash-menu .mask-box{
	left:0;
	top:0;
	position: absolute;
	width: 100%;
	height: 184px;
}

.flash-menu .mask{
	position:absolute;
	width: 100%;
	height: 184px;
	left:0;
	top:0;
	background-color: #000;
	opacity: 0.1;
}

.flash-menu .mask-text{
	position:absolute;
	width: 80px;
	height:80px;
	line-height:80px;
	border-radius: 40px;
	background-color:#000;
	opacity:0.6;
	color: #fff;
	text-align: center;
	top: 30px;
	left:30px;
	font-size: 20px;
}

.countdown1,
.countdown2,
.time li{
	display: inline-block;
}

.flash-pro-thumb{
	float: left;
	width: 140px;
    height: 154px;
}

.flash-pro-thumb img{
	display: block;
	width: 140px;
    height: 154px;
}

.flash-pro-desc{
	width:54%;
	float: right;
	/* padding-top:10px; */
}

.flash-brand{
	height: 28px;
	line-height:28px;
	font-size: 14px;
}

.flash-name{
	height: 28px;
	line-height:28px;
	font-size: 12px;
}

.flash-price{
	height: 34px;
	line-height:34px;
	font-size: 24px;
	color: #3dbdd0;
	 /* font-family: "OpenSansBold"; */ 
	margin-right:10px;
}

.flash-ori-price{
	font-size:18px;
	color:#717171;
}

.flash-count{
	height:24px;
	line-height:24px;
	font-size: 12px;
	margin-bottom: 4px;
}

.buy-flash-now{
	display: inline-block;
	width:140px;
	height:34px;
	line-height:34px;
	text-align: center;
	background-color: #C0C0C0;
	font-size: 18px;
	color: #fff;
	border:none;
	margin-top: 20px;
}

.active{
	background-color:#3DBDD0;
}







	