@charset "utf-8"; 
.demo-img{
  width: 100%;
  /*margin-top: 45px;*/
}
.bg-img{
  width: 100%;
  display: block;
  margin: 0;
}
.banner{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
.first-image{
  margin-top: 45px;
}
.image{
  position: relative;
}
.image a{
  display: inline-block;      
  position: absolute;
}
img{
  display: block;
}

.reminder{
  position: absolute;
  z-index: 100;
  left: 50%;
  width: 150px;
  margin-left:-75px;
}
.toshop{
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 380px;
  left: 80%;
  text-align: center;
}
.shop-img{
  width: 70px;
  /*display: block;*/
  margin-top: 60xp;

}

/*--我的特权--*/
.user-head{
	padding-top:45px;
	text-align: center;
	margin-bottom: 20px;
}
.user-photo{
	width: 20%;
	margin: 0 auto;
	padding-top: 10px;
}
.user-name{
	padding-top:6px;
}

.level-head{
	width: 90%;
	padding: 0 5%;
	font-size: 0;
	text-align: center;
	padding-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;
}

.lead-head-cont a{
	display: inline-block;
	width: 40px;
	height: 56px;
	position: relative;
    margin: 0 14px;
    color:#999;
}

.lead-head-cont i{
	position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    border: 1px solid #999;
    border-radius: 36px;
}

.lead-head-cont em{
	position: absolute;
    width: 30px;
    height: 18px;
    left: -30px;
    border-bottom: 1px solid #999;
}

.lead-head-cont em.active{
	border-color: #000;
}

.level-icon0 {
	background-position: -299px -360px;
}
.level-icon1 {
	background-position: -329px -360px;
}
.level-icon2 {
	background-position: -360px -360px;
}
.level-icon3 {
	background-position: -393px -360px;
}

.level-head .level-text{
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
    width: 40px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
}

.level-head .active{
	color: #000;
}

.level-head .current i{
	border-color: #000;
}

.level-cont{
	width: 90%;
	margin: 0 auto;
}

.level-title{
	height: 50px;
	line-height:50px;
	text-align: center;
	font-size: 0;
}

.title-line{
	box-sizing:border-box;
	display: inline-block;
	width:30%;
	border-bottom: 1px solid #999;
	vertical-align: middle;
}

.title-mid{
	display: inline-block;
	width: 30%;
	margin: 0 5%;
	font-size: 12px;
	vertical-align: bottom;
	color: #000;
}

.level-cont div{
	display: none;
}

.level-cont .current{
	display: block;
}

.level-cont p{
	line-height: 30px;
	color: #666;
}

.level-cont .level-conditions{
	line-height: 20px;
	color: #000;
}

