body{ 
	background-color: #e4e4e4;
}
.banner{
	background-color: #fff;
}
.main{
	width:100%;
	height:auto;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	margin-top:20px;
}
.disCount{
	height:38px;
	border-bottom:1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #fff;
}
.disCount p{ 
	display:block;
	line-height:38px; 
	padding-left:9px;
}

.xztb{
	float:right;
	width:48px;
	height:38px;
}
.yzm{
	width:100%;
	border-bottom: 1px solid #ccc;
}
.disCountPword {
	border:0;
	float: left;
    width:80%;
	height:38px;
	padding-left:10px;
}

.verifyBtn{
	display:block;
	box-sizing: border-box;
	border: 0px none;
    background: #FFF none repeat scroll 0% 0%;
    text-align: center;
    height:38px;
    /* width:18%; */
    width:20%;
    cursor:pointer;
    border-left:1px solid #ccc;
    /*padding-left: 18px;*/
    text-align: center;
    color:blue;
}


/*
.check-box{
  display: block;
  width: 10px;
  height: 11px;
  border: solid 2px #a1a1a1;
  position: absolute;
  right: 23px;
  top:15px;
}
*/

.check-box {
  display: block;
  width: 16px;
  height: 16px;
  border: solid 1px #a1a1a1;
  position: absolute;
  right: 23px;
  top: 10px;
  border-radius: 16px;
}
.ticket-type{
  position: relative;
  margin-top: 10px;

}
.i-check-tick{
  position: absolute;
  right: 23px;
  top: 71px;
}
.from-bank .i-check-tick{
  top: 10px;
  display: none;
}

.ticket-tips{
	margin-top: 20px;
	padding-left: 10px;
	color: #777;
}



















