<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>登录</title>
<content tag="css">/user/login</content>
<content tag="javascript">/user/login</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/user/login">
