<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>注册立得1000元红包</title>
<content tag="css">/user/login</content>
<content tag="javascript">/user/register</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/user/register">
