<#include "list_config.ftl">

<div class="banner">
  <a class="fl" href="/designer/list"><i class="icon i-back"></i></a>
  <span>搜索结果</span>
  <i class="icon i-nav-bar fr"></i>
</div>

 
<div class="items cf" id="j-container" data-key="${key}">
   
</div>
