<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>搜索结果</title>
<content tag="css">/find/category</content>
<content tag="javascript">/search/list</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/item/pay">