<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>订单详情</title>
<content tag="css">/item/pay</content>
<content tag="javascript">/order/pay</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/item/pay">