<#include "pay_confirm_config.ftl">

<div class="banner">
  <form action="/pay/order" method="post">
      <input type="hidden" value="${orderId}" name="orderId"/>
      确定支付?
      <input type="submit" value="确定"/>
  </form>
</div>