<#include "refund_config.ftl">

<div class="banner">
  <a class="fl" id="j-back"><i class="icon i-back"></i></a>
  <span>退换货</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<div class="main">
	<h4>退换货条款</h4>
	<p>1. 在会员收到产品7天内无条件退换产品，以签收日后的第2天零时起计算时间。</p>
	<p>2. 退换产品前需要与客服联系并仅限退换一次。</p>
	<p>3. 退换货要求具备商品收到时完整的外包装、配件、吊牌等；购买物品被洗过、穿过、人为破坏或标牌拆卸的不予退换；所有预定或订制特殊尺码的不予退换。</p>

	<h4>退换货流程</h4>
	<p>我们的退换流程非常简单。您只需联系我们的客服，并在您收到您的订单后的7天以内寄回您想退换的货品。</p>
	<p>1. 您可以直接联系我们的客服中心，客服电话为：</p>
	<p>010-65008611，服务时间为北京时间星期一至星期五 9：00-19：00。</p>
	<p>13521568768，服务时间为北京时间星期一至星期五 19：00-24：00，周六，周日 10：00-24：00。</p>
	<p>2. 如要申请退款，请选择相应的退款方式。这应与最初所用的付款方式相符。请注意，现金抵用券自收到之日起2个月内有效。</p>
</div>
