<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>验证券</title>
<content tag="css">/order/ticket</content>
<content tag="javascript">/order/ticket</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/sale/ticket">