<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>发现品类</title>
<content tag="css">/find/find</content>
<content tag="javascript">/find/category/list</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/find">