<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<content tag="css">/find/designer</content>
<content tag="javascript">/find/designer/detail</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/find">