<#include "item_list_config.ftl">

<div class="banner">
  <a class="fl" id="j-back"><i class="icon i-back"></i></a>
  <span>商品列表</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<div class="items cf" data-category-id="${categoryId}" id="j-contatiner">
  
</div>
<div class="loading-box">
	<span class="loading-icon"></span>
</div>