<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>商品</title>
<content tag="css">/find/category</content>
<content tag="javascript">/find/category/detail</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/find">