<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>绘事后素——中国首家全球顶级设计师时尚媒体类电商平台</title>
<content tag="css">/home/new</content>
<content tag="javascript">/home/new</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/home">