<#include "../find/category_config.ftl">
<div class="gender-select-wrapper">
  <div class="gender-select cf">
    <div class="nav-item selected">女装</div>
    <div class="nav-item">男装</div>
  </div> 
  <div class="search-btn">
    <i class="icon i-magnify"></i>   
  </div>  
</div>
<div class="tabs cf">
  <a href="/designer/list">
    <div class="nav-item">
      <p class="nav-name" style="border-color:#d34985">设计师</p>  
    </div>     
  </a>
  <a href="/category/list">
    <div class="nav-item selected">
      <p class="nav-name" style="border-color:#a35088">分类</p>
    </div>
  </a>
</div>

<div class="main-content cf">
  <div class="category">
    <img class="category-img" src="../../static/images/category1.png">
  </div>
  <div class="category">
    <img class="category-img" src="../../static/images/category2.png">
  </div>
  <div class="category">
    <img class="category-img" src="../../static/images/category2.png">
  </div>
  <div class="category">
    <img class="category-img" src="../../static/images/category1.png">
  </div>
  <div class="category">
    <img class="category-img" src="../../static/images/category2.png">
  </div>
</div>

<#include "../widgets/footer.ftl">