<#include "../config.ftl">  
<#-- 设置当前页面的基本设置 start-->
<title>我的红包</title>
<content tag="css">/mine/coupon</content>
<content tag="javascript">/mine/coupon</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/mine">