<#include "coupon_config.ftl">  

<div class="banner">
  <a class="fl" id="j-back"><i class="icon i-back"></i></a>
  <span>我的红包</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<ul class="my-coupon-list">

<!--
<li>
	<div class="coupon-cont">
		<div class="coupon-col-1">
			<p class="coupon-sums">￥1000</p>
			<p class="coupon-condition">满20000可用</P>
		</div>
	  
		<div class="coupon-col-2">
			<p class="coupon-id"><input type="text" value="12345678910" readonly></p>
			<p class="coupon-time">有效期至2016-11-20</p>
		</div>
		
	</div>
</li>
-->
</ul>

<p class="tips">使用说明：您可以在购物下单时的提交订单页面，选择使用代金券，输入此激活码验证使用即可。
<br>联系客服电话：<a href="tel:010-65008611">010-65008611</a></p>





