<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>我的收藏</title>
<content tag="css">/mine/favorites</content>
<content tag="javascript">/mine/favorites</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/mine">