<#include "favorites_config.ftl">

<div class="banner">
  <a class="fl" href="/mine"><i class="icon i-back"></i></a>
  <span>我的收藏</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<div class="tabs cf">
  <div class="nav-item selected j-nav" data-type="0">
    <p class="nav-name">商品</p>  
  </div>     
  <div class="nav-item j-nav" data-type="1">
    <p class="nav-name">设计师</p>
  </div>
</div>

<div class="items cf" id="j-item-container">
<#--   <div class="item">
    <a class="item-wrapper" href="/item/detail">
      <img class="item-img" src="/static/images/work2.png">
      <p class="item-name">2015春夏季新品蕾丝外套</p>
      <p class="item-price">¥238.00</p>    
    </a>
  </div>

  <div class="item">
    <a class="item-wrapper" href="/item/detail">
      <img class="item-img" src="/static/images/work2.png">
      <p class="item-name">2015春夏季新品蕾丝外套</p>
      <p class="item-price">¥238.00</p>    
    </a>
  </div>
 -->
</div>