<#include "getvip_config.ftl">  

<div class="banner">
  <a class="fl" id="j-back"><i class="icon i-back"></i></a>
  <span>VIP卡激活</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<div class="address-input-wrapper">
  <input id="j-code" type="text" class="no-border input-area" placeholder="请输入VIP卡激活码">
  <span class="add-address-btn" data-id="0" id="j-confirm">激活</span>
</div>




