<#include "../config.ftl">  
<#-- 设置当前页面的基本设置 start-->
<title>VIP卡激活</title>
<content tag="css">/mine/getvip</content>
<content tag="javascript">/mine/getvip</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/mine">