<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>个人中心</title>
<content tag="css">/mine/mine</content>
<content tag="javascript">/home/mine</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/mine">