<#include "orders_config.ftl">

<div class="banner">
  <a class="fl" href="/mine"><i class="icon i-back"></i></a>
  <span>我的订单</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="tabs order-tabs cf">
  <div class="nav-item selected j-nav" data-type="-1">
    <p class="nav-name">全部</p>  
  </div>     
  <div class="nav-item j-nav" data-type="0">
    <p class="nav-name">待付款</p>
  </div>
  <div class="nav-item j-nav" data-type="1">
    <p class="nav-name">待发货</p>
  </div>
  <div class="nav-item j-nav" data-type="2">
    <p class="nav-name">待收货</p>
  </div>
  <div class="nav-item j-nav" data-type="4">
    <p class="nav-name">已完成</p>
  </div>
</div>


<div id="j-item-container">
<#--   <div class="item-wrapper">
    <div class="order-status">
      <p><span>2015-1-11</span><span class="fr">交易完成</span></p>
    </div>
    <div class="info-wrapper"> 
      <img class="item-thumb fl" src="/static/images/product.png">
      <div class="item-info">
        <p class="item-name">bread n butter面包黄油品牌女装钉圆领短袖上衣女士套装</p>
        <p class="tc-light-gray">规格：黑色 XL</p>
        <p>数量：1</p>    
        <p class="item-price bold-num">¥111</p>
      </div>
    </div>

    <div class="trans-fee">
      <p class="other-info"><span class="other-info-span">共1件商品</span><span class="tc-dark-gray tc-bold other-info-span">运费：¥8.00</span><span class="other-info-span">实付：¥388</span></p>
    </div>
  </div> -->
</div>