/*
  background-position: 左右 上下;
**/

.icon{
  display: inline-block;
  background-image: url('../imgs/icons1.png');
  background-size: 500px 400px;
}
.i-home{
  background-position: 0 0;
  width: 30px;
  height: 25px;
}

.i-home-selected{
  background-position: 0 -28px;
  width: 30px;
  height: 24px;
}

.i-find{
  background-position: -30px -2px;
  width: 30px;
  height: 25px;
}
.i-find-selected{
  background-position: -30px -28px;
  width: 30px;
  height: 25px;
}

.i-cart{
  background-position: -60px 0;
  width: 30px;
  height: 25px;  
}
.i-cart-selected{
  background-position: -60px -28px;
  width: 30px;
  height: 25px;  
}

.i-mine{
  background-position: -90px 0;
  width: 30px;
  height: 25px;  
}
.i-mine-selected{
  background-position: -89px -28px;
  width: 30px;
  height: 25px;  
}

.i-back{
/* 
  background-position: 0 -360px;
  width: 50px;
  height: 40px;
  position: absolute;
  left: 5px;
  top: 2px; 
*/
    background-position: -2px -50px;
    width: 20px;
    height: 42px;
    position: absolute;
    left: 12px;
    top: 2px;
}

.i-nav-bar{
  position: absolute;
  width: 20px;
  height: 14px;
  background-position: -35px -62px;
  right: 15px;
  top: 15px;
}
.yhIcon{
	width:24px;
	height:24px;
	background-position: -307px -339px;
}
.i-communicate{
  background-position: 0 -94px;
  width: 24px;
  height: 18px;
}

.i-fav{
  background-position: -30px -92px;
  width: 20px;
  height: 20px;
}
.i-faved{
  background-position: -50px -92px;
  width: 20px;
  height: 20px;
}

.i-share{
  background-position: 0 -120px;
  width: 28px;
  height: 45px;
}

.i-login-other{
  width: 285px;
  height: 17px;
  background-position: -120px 0;
}

.i-user{
  background-position: -76px -60px ;
  width: 35px;
  height: 19px;
}
.i-psw{
  /* background-position: -77px -86px; */
  background-position: -76px -88px;
  width: 35px;
  height: 19px;
}

.i-qq{
  width: 36px;
  height: 36px;
  background-position: -36px -182px;
}

.i-wechat{
  width: 36px;
  height: 36px;
  background-position: -112px -184px;  
}

.i-check{
  background-position: -30px -125px;
  width: 23px;
  height: 20px;
}
.i-magnify{
  width: 23px;
  height: 20px;
  background-position: -30px -150px;
}

.i-to-pay{
  width: 25px;
  height: 20px;
  background-position: -2px -234px;
}
.i-to-deliver{
  width: 25px;
  height: 22px;
  background-position: -34px -235px;
}
.i-to-receive{
  width: 25px;
  height: 20px;
  background-position: -64px -234px;  
}
.i-order{
  background-position: -3px -275px;
  width: 25px;
  height: 25px;
}
.i-my-fav{
  width: 25px;
  height: 25px;
  background-position: -38px -274px
}

.i-address{
  width: 25px;
  height: 30px;
  background-position: -72px -272px;
}
.i-cupon{

}
.i-after-sell{
  width: 25px;
  height: 30px;
  background-position: -203px -270px;
}

.i-my-privilege{
	width: 25px;
	height: 30px;
	background-position: -239px -270px;
}

.i-vip-active{
  	width: 25px;
  	height: 30px;
	background-position: -273px -270px;
}

.i-settings{
  width: 23px;
  height: 23px;
  background-position: -98px -235px;
}

.i-cart-empty{
  background-position: -134px -36px;
  width: 130px;
  height: 115px;
}

.i-wechat-pay{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-position: 0 -305px;
}

.i-ali-pay{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-position: -243px -350px;
}

.i-check-circle{
  width: 19px;
  height: 19px;
  background-position: -56px -126px;
}

.i-check-circle-border{
  width: 19px;
  height: 19px;
  background-position: -163px -348px;
}
.i-not-check-circle-border{
  width: 19px;
  height: 19px;
  background-position: -216px -348px;
}

.i-not-check-circle-border-cart{
  width: 19px;
  height: 19px;
  background-position: -216px -348px;
  vertical-align: 20px;
  margin-right: 11px;
}
.i-check-circle-border-cart{
  width: 19px;
  height: 19px;
  background-position: -163px -348px;
  vertical-align: 20px;
  margin-right: 11px;
}

.i-arrow-down{
  width: 15px;
  height: 10px;
  background-position: -78px -161px;
}
.i-arrow-up{
  width: 15px;
  height: 10px;
  background-position: -78px -151px;
}
.i-delete{
  width: 20px;
  height: 25px;
  background-position: -64px -305px;
}
.i-delete-red{
  width: 20px;
  height: 25px;
  background-position: -88px -305px;
}
.i-bank-card-pay{
  width: 50px;
  height: 50px;
  background-position: -63px -350px;
}
/*
.i-check-tick{
  width: 30px;
  height: 25px;
  background-position: -120px -350px;
}
*/
.i-check-tick{
   width: 18px;
   height: 18px;
   background-position: -432px -370px;
}
/*loading spinner*/
.spinner {
  margin: 100px auto;
  width: 20px;
  height: 20px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

.i-advance{
  background-position: -51px -550px;
  width: 24px;
  height: 23px;
  position: absolute;
  right: 37px;
  top: 66px;
}

.i-customer-level0{
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-position: -344px -279px;
}

.i-customer-level1{
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-position: -365px -279px;
}

.i-customer-level2{
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-position: -386px -279px;
}

.i-customer-level3{
  width: 18px;
  height: 18px;
  vertical-align: middle;
  border-radius: 10px;
  background-position: -405px -279px;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}