@charset "utf-8";
.loading-box{
	display:none;
	width:100%;
	height:24px;
	margin-top:-80px;
	position:relative;
}
.loading-icon{
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 16px;
    -webkit-animation: gif 1.5s linear infinite;
    animation: gif 1s linear infinite;
    clip: rect(0 auto 12px 0);
    left: 0;
	right: 0;
	margin: auto;
}
@-webkit-keyframes gif{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
@keyframes gif{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}