<#include "../../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>收货地址</title>
<content tag="css">/mine/address</content>
<content tag="javascript">/mine/address/add</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/mine">