<#include "list_config.ftl">

<div class="banner">
  <a class="fl" id="j-back"><i class="icon i-back"></i></a>
  <span>收货地址</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<div id="j-address-container">  
</div>

<a href="/address/add" id="j-add-address">
  <div class="add-address-btn">添加新地址</div>
</a>