.items{
  padding-left: 5%;
}

.item {
  width: 50%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 5%;
}
.item-wrapper {
  display: block;
  color: black;
}
.item .item-img, .item .item-name, .item .item-price {
  width: 100%;
  text-align: left;
  margin: auto;
  font-size: 1em;
  margin-bottom: 5px;
  color: #666666;
}
.item .item-price{
  /*color: #949cff;*/
  font-weight: 500;
}
.price.discount-price{
  color: #dd4570;
  margin-bottom: 0;
}
.brand-name{
  font-family: 'Bitter';
}