.item-wrapper{
  border-bottom:solid 1px #e7e7e7;
  padding: 0 10px;
  color: #666;
  position: relative;
}
.item-thumb{
  width: 60px;
  margin-right: 7px;
}
.item-info{
  margin-left: 85px;
  margin-right: 10px;
  position: relative;
}
.trans-fee{
  padding: 6px 10px;
}
.info-wrapper{
  padding: 15px 0;
  border-bottom: solid 1px #e7e7e7;
  line-height: 1.3em;
}
.item-info .item-name{
  margin-bottom: 10px;
  font-size: 1.1em;
  font-weight: 500;
  text-overflow : ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /*height: 30px;*/
  width: 14em;
}

.item-info .item-price{
  position: absolute;
  right: 0px;
  top: 20px;
}
.other-info{
  text-align: right;
}
.other-info-span{
  margin-left: 10px;
}
.order-view-id .other-info-span{
  margin-left: -5px;
}