<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>Kimono独领风骚的和服风</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">

<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>Kimono独领风骚的和服风</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<img class="reminder" src="/static/images/topic/reminder.gif" style="top:17.3%;">
<div class="image first-image">
  <img class="demo-img" src="/static/images/topic/slide/kimono/all1.jpg" alt="image" />
  <#-- part1 -->
  <#-- 衣服 -->
  <a href="/item/detail/111" style="top: 32%; left: 0%; width: 56%; height: 12.5%;"></a>
  <#-- 鞋 -->
  <a href="/item/detail/120" style="top: 45%;left: 0;width: 50%;height: 5%;"></a>
  <#-- 整衣 -->
  <#-- 上 -->
  <a href="/item/detail/132" style=" top: 37%;left: 50%;width: 40%;height: 5%;"></a>
  <#-- 下 -->
  <a href="/item/detail/133" style=" top: 42%;left: 50%;width: 40%;height: 8%;"></a>

  <#-- part2 -->
  <#-- 衣 -->
  <a href="/item/detail/116" style="top: 59%; left: 0%; width: 56%; height: 12.5%;"></a>
  <#-- 鞋 -->
  <a href="/item/detail/125" style="top: 71%;left: 0;width: 50%;height: 5%;"></a>
  <#-- 整衣 -->
  <#-- 上 -->
  <a href="/item/detail/123" style="top: 66%;left: 53%;width: 42%;height: 2%;"></a>
  <#-- 下 -->
  <a href="/item/detail/126" style="top: 68%;left: 53%;width: 42%;height: 5%;"></a>


  <#-- part3 -->
  <#-- 蝴蝶结 -->
  <a href="/item/detail/44" style="top: 82%;left: 0%;width: 46%;height: 3.5%;"></a>
  <#-- 裤子 -->
  <a href="/item/detail/79" style="top: 85.5%;left: 0%;width: 41%;height: 9%;"></a>
  <#-- 鞋 -->
  <a href="/item/detail/118" style="top: 94.5%;left: 0%;width: 46%;height: 4%"></a>
  <#-- 外衣 -->
  <a href="/item/detail/62" style="top: 85%;left: 42%;width: 52%;height: 8.5%;"></a>
  <#-- 夹克 -->
  <a href="/item/detail/128" style="top: 93.5%;left: 42.5%;width: 52%;height: 5%;"></a>

</div>

