<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>颈间暖意</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>颈间暖意</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;">

<div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/33/0.jpg" alt="image">
         
       </p>
     </blockquote>
   </blockquote>
 </div>
<div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/33/1.jpg" alt="image">
  	  <a href="/item/detail/1900" style="top: 20%;left: 47%;width: 29%;height:45%;position:absolute;"></a>
	  <a href="/item/detail/1905" style="top: 2%;left: 75%;width: 26%;height:49%;position:absolute;"></a> 
	  <a href="/item/detail/1903" style="top: 65%;left: 42%;width: 22%;height:25%;position:absolute;"></a>
	  <a href="/item/detail/1910" style="top: 60%;left: 75%;width: 20%;height:34%;position:absolute;"></a>
  </div>


  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/33/2.jpg" alt="image">
	  <a href="/item/detail/1902" style="top: 9%;left: 7%;width: 23%;height:44%;position:absolute;"></a>
	  <a href="/item/detail/1789" style="top: 35%;left: 35%;width: 25%;height:54%;position:absolute;"></a>  
	  <a href="/item/detail/1906" style="top: 10%;left: 32%;width: 28%;height:18%;position:absolute;"></a>
	  <a href="/item/detail/1913" style="top: 59%;left: 5%;width: 30%;height:24%;position:absolute;"></a>
 </div>


  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/33/3.jpg" alt="image">						
 	  <a href="/item/detail/1909" style="top: 5%;left: 47%;width: 25%;height:40%;position:absolute;"></a>
	  <a href="/item/detail/1901" style="top: 26%;left: 72%;width: 26%;height:14%;position:absolute;"></a>  
	  <a href="/item/detail/881" style="top: 48%;left: 42%;width: 25%;height:40%;position:absolute;"></a>
	  <a href="/item/detail/1908" style="top: 43%;left: 76%;width: 20%;height:39%;position:absolute;"></a>
  </div>


  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/33/4.jpg" alt="image">						
  	  <a href="/item/detail/989" style="top:5%;left: 30%;width: 26%;height:34%;position:absolute;"></a>
	  <a href="/item/detail/1915" style="top: 18%;left: 6%;width: 28%;height:37%;position:absolute;"></a>  
	  <a href="/item/detail/1907" style="top: 57%;left: 6%;width: 32%;height:30%;position:absolute;"></a>
	  <a href="/item/detail/1914" style="top: 42%;left: 38%;width: 18%;height:34%;position:absolute;"></a>
  </div>
 	  
</div>
<#include "topic_footer.ftl">  
  

 




