<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>3大致命性感暗黑系裙装</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>3大致命性感暗黑系裙装</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<img class="reminder" src="/static/images/topic/reminder.gif" style="top: 27%;">
<div class="image" style="margin-top: 45px;"> 
<div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/6/0.jpg" alt="image">
         
       </p>
     </blockquote>
   </blockquote>
 </div>
<div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/6/1.jpg" alt="image">
  <a href="/item/detail/135" style="top: 23%;left: 65%;width: 30%;height: 70%;"></a>
 <a href="/item/detail/134" style="top: 50%;left: 35%;width: 19%;height: 15%;"></a>
  <a href="/item/detail/130" style="top: 64%;left: 1%;width: 24%;height: 15%;"></a>
  <a href="/item/detail/86" style=" top: 70%;left: 30%;width: 25%;height: 22%;"></a>
</div>



<div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/6/2.jpg" alt="image">
  <a href="/item/detail/161" style="top: 15%;left: 2%;width: 40%;height: 74%;"></a>
  <a href="/item/detail/136" style="top: 63%;left: 44%;width: 32%;height: 25%;"></a>
  <a href="/item/detail/137" style="top: 35%;left: 73%;width: 25%;height: 29%;"></a>
  </div>



  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/6/3.jpg" alt="image">						
  <a href="http://www.hshs-fashion.com/item/detail/92"  style="top: 4%;left: 67%;width: 28%;height:85%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/142"  style="top: 43%;left: 40%;width: 20%;height:20%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/143"  style="top: 62%;left: 20%;width: 25%;height:24%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/141"  style="top: 58%;left: 67%;width: 29%;height:20%;"></a>
  
  </div>
  
</div>
<#include "topic_footer.ftl"> 
