<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>夹克“型”主义</title>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>夹克“型”主义</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
<div class="image zero-image">
  <img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/19/19_01.gif" alt="image">
  
  </div>
  <div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/19/19_02.gif" alt="image">
  <a href="http://www.hshs-fashion.com/item/detail/1108" style="top: 32%;left: 52%;width: 22%;height:28%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/1241" style="top: 32%;left: 80%;width: 20%;height:28%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/1239" style="top: 65%;left: 52%;width: 22%;height:28%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/176" style="top: 65%;left: 80%;width: 20%;height:28%;"></a>
  </div>
  
  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/19/19_03.gif" alt="image">
  <a href="http://www.hshs-fashion.com/item/detail/174" style="top: 18%;left: 3%;width: 22%;height:28%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/483" style="top: 18%;left: 30%;width: 20%;height:28%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/776" style="top: 60%;left: 3%;width: 22%;height:28%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/295" style="top: 60%;left: 30%;width: 20%;height:28%;"></a>
  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/19/19_04.gif" alt="image">						
  <a href="http://www.hshs-fashion.com/item/detail/20" style="top: 18%;left: 52%;width: 22%;height:28%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/1492" style="top: 28%;left: 80%;width: 20%;height:28%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/848" style="top: 60%;left: 52%;width: 22%;height:28%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/841" style="top: 60%;left: 80%;width: 20%;height:28%;"></a>
  
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/19/19_05.gif" alt="image">						
  <a href="http://www.hshs-fashion.com/item/detail/876" style="top: 28%;left: 3%;width: 22%;height:22%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/1556" style="top: 28%;left: 30%;width: 20%;height:22%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/600" style="top: 60%;left: 3%;width: 22%;height:32%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/847" style="top: 60%;left: 30%;width: 20%;height:32%;"></a>
  
  </div>
  <div class="image five-image">
  <img class="bg-img" src="/static/images/topic/top/2015/19/19_06.jpg" alt="image">	
  <a href="http://www.hshs-fashion.com/item/detail/463" style="top: 20%;left: 52%;width: 28%;height:28%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/1485" style="top: 28%;left: 80%;width: 20%;height:28%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/950" style="top: 60%;left: 52%;width: 22%;height:28%;"></a>
  <a href="http://www.hshs-fashion.com/item/detail/861" style="top: 60%;left: 80%;width: 20%;height:28%;">	</a>
    
  </div>
</div>
<#include "topic_footer.ftl">  
  

 




