<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>【绘事后素】“黑五”狂欢日</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>【绘事后素】“黑五”狂欢日</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;">

<div class="image zero-image">
   <blockquote>
     <blockquote>
       <p>

       	<img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/35/1.gif" alt="image"> 
		<a href="/new?cid=5" style="top: 1%;left: 1%;width: 99%;height:99%;position:absolute;"></a>
       </p>
     </blockquote>
   </blockquote>
 </div>
<div class="image one-image">

  		<img class="bg-img" src="/static/images/topic/top/2015/35/2.gif" alt="image">
		 <a href="/new?cid=5" style="top: 1%;left: 1%;width: 99%;height:99%;position:absolute;"></a>
  </div>


  <div class="image two-image">

 		 <img class="bg-img" src="/static/images/topic/top/2015/35/3.gif" alt="image">
		 <a href="/new?cid=5" style="top: 1%;left: 1%;width: 99%;height:99%;position:absolute;"></a>
 </div>


 	  
</div>
<#include "topic_footer.ftl">  
  

 




