<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>MARGARET ZHANG</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>MARGARET ZHANG</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
 <div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/28/0.jpg" alt="image"> 
       </p>
     </blockquote>
   </blockquote>
 </div>

<div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/28/1.jpg" alt="image">
  <a href="/item/detail/1705"  style="top: 71%;left: 5%;width: 16%;height:14%;"></a>
  <a href="/item/detail/1717"  style="top: 74%;left: 30%;width: 17%;height:7%;"></a> 
  <a href="/item/detail/1205"  style="top: 75%;left: 55%;width: 16%;height:7%;"></a>
  <a href="/item/detail/1749"  style="top: 75%;left: 79%;width: 17%;height:6%;"></a>
  </div>

  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/28/2.jpg" alt="image">
  <a href="/item/detail/1750"  style="top: 65%;left: 2%;width: 20%;height:14%;"></a>
  <a href="/item/detail/402"  style="top: 64%;left: 30%;width: 17%;height:17%;"></a>  
   <a href="/item/detail/849"  style="top: 67%;left: 55%;width: 17%;height:9%;"></a>
  <a href="/item/detail/1753"  style="top: 68%;left: 80%;width: 17%;height:9%;"></a>
 
  </div>

  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/28/3.jpg" alt="image">						
  <a href="/item/detail/1752"  style="top: 62%;left: 2%;width: 20%;height:18%;"></a>
  <a href="/item/detail/546"  style="top: 64%;left: 30%;width: 17%;height:17%;"></a>  
  <a href="/item/detail/1727"  style="top: 67%;left: 55%;width: 17%;height:10%;"></a>
  <a href="/item/detail/1751"  style="top: 68%;left: 80%;width: 18%;height:9%;"></a>
  </div>

  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/28/4.jpg" alt="image">						
  <a href="/item/detail/1696"  style="top: 75%;left: 2%;width: 20%;height:18%;"></a>
  <a href="/item/detail/1695"  style="top: 75%;left: 30%;width: 17%;height:18%;"></a>  
  <a href="/item/detail/1500"  style="top: 79%;left: 54%;width: 19%;height:10%;"></a>
  <a href="/item/detail/1507"  style="top: 73%;left: 80%;width: 18%;height:20%;"></a>
  </div>
 	  
</div>
<#include "topic_footer.ftl">  
  

 




