<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>1930’s的回潮</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>1930’s的回潮</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
<div class="image zero-image">
  <img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/15/15_01.gif" alt="image">
  
  </div>
  <div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/15/15_02.gif" alt="image">
  <a href="/item/detail/1422" style="top: 10%;left: 63%;width: 22%;height:30%;"></a>
  <a href="/item/detail/823" style="top: 24%;left: 35%;width: 26%;height:30%;"></a>
  <a href="/item/detail/1423" style="top: 55%;left: 38%;width: 24%;height:35%;"></a>
  <a href="/item/detail/997" style="top: 56%;left: 15%;width: 22%;height:18%;"></a>
  <a href="/item/detail/1424" style="top: 76%;left: 6%;width: 30%;height:15%;"></a>
  
  </div>
  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/15/15_03.gif" alt="image">
  <a href="/item/detail/1441" style="top: 5%;left: 15%;width: 25%;height:38%;"></a>
  <a href="/item/detail/1419" style="top: 46%;left: 21%;width: 26%;height:14%;"></a>
  <a href="/item/detail/1415" style="top: 20%;left: 48%;width: 18%;height:65%;"></a>
  <a href="/item/detail/1414" style="top: 50%;left: 68%;width: 25%;height:30%;">	</a>
  <a href="/item/detail/1417" style="top: 83%;left: 65%;width: 30%;height:12%;">	</a>
  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/15/15_04.gif" alt="image">						
  <a href="/item/detail/329" style="top: 5%;left: 50%;width: 30%;height:20%;"></a>
  <a href="/item/detail/1418" style="top: 5%;left: 5%;width: 30%;height:20%;"></a>
  <a href="/item/detail/274" style="top: 28%;left: 36%;width: 24%;height:55%;">	</a>
  <a href="/item/detail/1425" style="top: 55%;left: 14%;width: 21%;height:20%;">	</a>
  <a href="/item/detail/1114" style="top: 75.5%;left: 5%;width: 28%;height:20%;">	</a>
  
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/15/15_05.gif" alt="image">	
  <a href="/item/detail/1421" style="top: 3%;left: 20%;width: 20%;height:30%;"></a>					
  <a href="/item/detail/937" style="top: 15%;left: 43%;width: 20%;height:65%;"></a>
  <a href="/item/detail/1420" style="top: 73%;left: 15%;width: 28%;height:10%;"></a>
  <a href="/item/detail/1416" style="top: 55%;left: 64.5%;width: 30%;height:20%;"></a>
  <a href="/item/detail/679" style="top: 75.3%;left: 65%;width: 30%;height:18%;"></a>
  
  </div>


</div>
<#include "topic_footer.ftl"> 	
  
 




