<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>"鞋"逅</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>"鞋"逅</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 0px;"> 
<div class="image first-image">
  <img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/11/11_01.gif" alt="image">
  </div>
  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/11/11_02.gif" alt="image">
  <a href="/item/detail/224" style="top: 10%;left: 63%;width: 32%;height:40%;"></a>
  <a href="/item/detail/108" style="top: 52%;left: 68%;width: 22%;height:43%;"></a>
  <a href="/item/detail/107" style="top: 62%;left: 38%;width: 25%;height:15%;"></a>
  <a href="/item/detail/551" style="top: 77%;left: 10%;width: 45%;height:20%;"></a>
  
  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/11/11_03.gif" alt="image">
  <a href="/item/detail/223" style="top: 10%;left: 10%;width: 32%;height:40%;"></a>
  <a href="/item/detail/1109" style="top: 52%;left: 10%;width: 22%;height:43%;"></a>
  <a href="/item/detail/690" style="top: 52%;left: 36%;width: 23%;height:25%;"></a>
  <a href="/item/detail/461" style="top: 63%;left: 60%;width: 32%;height:27%;"></a>
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/11/11_04.gif" alt="image">						
  <a href="/item/detail/212" style="top: 5%;left: 63%;width: 32%;height:40%;"></a>
  <a href="/item/detail/248" style="top: 46%;left: 68%;width: 22%;height:45%;"></a>
  <a href="/item/detail/1152" style="top: 44%;left: 38%;width: 28%;height:20%;"></a>
  <a href="/item/detail/554" style="top: 66%;left: 10%;width: 50%;height:30%;"></a>
  </div>
  <div class="image five-image">
  <img class="bg-img" src="/static/images/topic/top/2015/11/11_05.gif" alt="image">						
  <a href="/item/detail/292" style="top: 6%;left: 10%;width: 32%;height:40%;"></a>
  <a href="/item/detail/847" style="top: 48%;left: 12%;width: 22%;height:43%;"></a>
  <a href="/item/detail/483" style="top: 48%;left: 36%;width: 23%;height:25%;"></a>
  <a href="/item/detail/1231" style="top: 63%;left: 62%;width: 32%;height:27%;"></a>
  
  </div>
  <div class="image six-image">
  <img class="bg-img" src="/static/images/topic/top/2015/11/11_06.gif" alt="image">						
  <a href="/item/detail/18" style="top: 6%;left: 63%;width: 32%;height:40%;"></a>
  <a href="/item/detail/255" style="top: 48%;left: 68%;width: 22%;height:43%;"></a>
  <a href="/item/detail/475" style="top: 50%;left: 40%;width: 25%;height:15%;"></a>
  <a href="/item/detail/1104" style="top: 66%;left: 10%;width: 45%;height:22%;"></a>
  
  </div>
</div>
<#include "topic_footer.ftl"> 	
  
 




