<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>羽绒风暴</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>羽绒风暴</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;">

<div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/36/0.jpg" alt="image">
         
       </p>
     </blockquote>
   </blockquote>
 </div>
<div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/36/1.jpg" alt="image">
   	  <a href="/item/detail/1970" style="top: 21%;left: 45%;width: 19%;height:24%;position:absolute;"></a>
	  <a href="/item/detail/1967" style="top: 18%;left: 73%;width: 25%;height:31%;position:absolute;"></a> 
	  <a href="/item/detail/1946" style="top: 48%;left: 44%;width: 19%;height:39%;position:absolute;"></a>
	  <a href="/item/detail/696" style="top: 53%;left: 67%;width: 20%;height:15%;position:absolute;"></a>
	  <a href="/item/detail/1901" style="top: 76%;left: 72%;width: 26%;height:14%;position:absolute;"></a>
  </div>


  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/36/2.jpg" alt="image">
	  <a href="/item/detail/1951" style="top: 12%;left: 5%;width: 24%;height:49%;position:absolute;"></a>
	  <a href="/item/detail/1952" style="top: 17%;left: 30%;width: 27%;height:33%;position:absolute;"></a>
	  <a href="/item/detail/1878" style="top: 67%;left: 3%;width: 19%;height:21%;position:absolute;"></a>
      <a href="/item/detail/1974" style="top: 54%;left: 30%;width: 20%;height:29%;position:absolute;"></a>
	  <a href="/item/detail/1954" style="top: 53%;left: 53%;width: 12%;height:44%;position:absolute;"></a>
 </div>


  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/36/3.jpg" alt="image">						
 	  <a href="/item/detail/1958" style="top: 3%;left: 53%;width: 16%;height:32%;position:absolute;"></a>
	  <a href="/item/detail/1971" style="top: 13%;left: 72%;width: 23%;height:44%;position:absolute;"></a>  
	  <a href="/item/detail/1956" style="top: 37%;left: 36%;width: 20%;height:53%;position:absolute;"></a>
      <a href="/item/detail/1973" style="top: 58%;left: 58%;width: 20%;height:19%;position:absolute;"></a>
	  <a href="/item/detail/1875" style="top: 67%;left: 78%;width: 20%;height:24%;position:absolute;"></a>
  </div>


  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/36/4.jpg" alt="image">						
  	  <a href="/item/detail/1975" style="top: 6%;left: 2%;width: 20%;height:50%;position:absolute;"></a>
	  <a href="/item/detail/1948" style="top: 72%;left: 3%;width:18%;height:23%;position:absolute;"></a>  
	  <a href="/item/detail/610" style="top: 3%;left: 25%;width: 16%;height:33%;position:absolute;"></a>
	  <a href="/item/detail/1882" style="top: 50%;left: 21%;width: 13%;height:34%;position:absolute;"></a>
      <a href="/item/detail/1953" style="top: 30%;left: 39%;width: 18%;height:25%;position:absolute;"></a>
      <a href="/item/detail/1950" style="top: 75%;left: 37%;width: 15%;height:19%;position:absolute;"></a>
  </div>
 	  
</div>
<#include "topic_footer.ftl">  
  

 




