<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>勾魂饰界</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>勾魂饰界</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;">

<div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/34/0.jpg" alt="image">
         
       </p>
     </blockquote>
   </blockquote>
 </div>
<div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/34/1.jpg" alt="image">
   	  <a href="/item/detail/1922" style="top: 11%;left: 32%;width: 30%;height:35%;position:absolute;"></a>
	  <a href="/item/detail/1924" style="top: 18%;left: 73%;width: 25%;height:21%;position:absolute;"></a> 
	  <a href="/item/detail/1926" style="top: 53%;left: 35%;width: 22%;height:30%;position:absolute;"></a>
	  <a href="/item/detail/1923" style="top: 45%;left: 65%;width: 14%;height:22%;position:absolute;"></a>
	  <a href="/item/detail/1925" style="top: 68%;left: 58%;width: 14%;height:22%;position:absolute;"></a>
	  <a href="/item/detail/1932" style="top: 55%;left: 82%;width: 16%;height:32%;position:absolute;"></a>
  </div>


  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/34/2.jpg" alt="image">
	  <a href="/item/detail/1929" style="top: 1%;left: 3%;width: 13%;height:56%;position:absolute;"></a>
	  <a href="/item/detail/1927" style="top: 1%;left: 16%;width:15%;height:43%;position:absolute;"></a>  
	  <a href="/item/detail/1930" style="top: 1%;left: 35%;width: 33%;height:15%;position:absolute;"></a>
	  <a href="/item/detail/1921" style="top: 64%;left: 3%;width: 33%;height:13%;position:absolute;"></a>
      <a href="/item/detail/1562" style="top: 23%;left: 35%;width: 10%;height:42%;position:absolute;"></a>
	  <a href="/item/detail/45" style="top: 27%;left: 48%;width: 16%;height:62%;position:absolute;"></a>
 </div>


  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/34/3.jpg" alt="image">						
 	  <a href="/item/detail/1492" style="top: 1%;left: 31%;width: 18%;height:36%;position:absolute;"></a>
	  <a href="/item/detail/1485" style="top: 18%;left: 52%;width: 23%;height:40%;position:absolute;"></a>  
	  <a href="/item/detail/276" style="top: 4%;left: 77%;width: 20%;height:28%;position:absolute;"></a>
	  <a href="/item/detail/1775" style="top: 61%;left: 36%;width: 23%;height:25%;position:absolute;"></a>
      <a href="/item/detail/1152" style="top: 61%;left: 62%;width: 20%;height:29%;position:absolute;"></a>
	  <a href="/item/detail/1572" style="top: 42%;left: 81%;width: 17%;height:20%;position:absolute;"></a>
  </div>


  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/34/4.jpg" alt="image">						
  	  <a href="/item/detail/1916" style="top: 6%;left: 5%;width: 20%;height:15%;position:absolute;"></a>
	  <a href="/item/detail/1919" style="top: 42%;left: 6%;width:12%;height:27%;position:absolute;"></a>  
	  <a href="/item/detail/1931" style="top: 35%;left: 23%;width: 28%;height:20%;position:absolute;"></a>
	  <a href="/item/detail/1920" style="top: 68%;left: 19%;width: 25%;height:18%;position:absolute;"></a>
      <a href="/item/detail/1899" style="top: 60%;left: 49%;width: 18%;height:25%;position:absolute;"></a>
      <a href="/item/detail/1917" style="top: 4%;left: 53%;width: 14%;height:33%;position:absolute;"></a>
  </div>
 	  
</div>
<#include "topic_footer.ftl">  
  

 




