<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>绘事后素</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>绘事后素</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<div class="image first-image" style="margin-top: 35px;">
  <img class="demo-img" src="/static/images/topic/slide/hshs/all.jpg" alt="image" />
</div>