<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>“室饰”进化论</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>“室饰”进化论</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
  <div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/26/0.jpg" alt="image">
       </p>
     </blockquote>
   </blockquote>
 </div>
 <div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/26/1.jpg" alt="image">
  <a href="/item/detail/987"  style="top: 21%;left: 83%;width: 15%;height:19%;"></a>
  <a href="/item/detail/1088"  style="top: 30%;left: 50%;width: 30%;height:53%;"></a> 
  <a href="/item/detail/673"  style="top: 64%;left: 79%;width: 20%;height:10%;"></a>
  <a href="/item/detail/1395"  style="top: 86%;left: 43%;width: 23%;height:13%;"></a>
  </div>
<div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/26/2.jpg" alt="image">
  <a href="/item/detail/1674"  style="top: 10%;left: 7%;width: 28%;height:57%;"></a>
  <a href="/item/detail/390"  style="top: 42%;left: 30%;width: 20%;height:45%;"></a> 
  <a href="/item/detail/852"  style="top: 70%;left:3%;width: 21%;height:22%;"></a>
  <a href="/item/detail/1265"  style="top: 78%;left: 45%;width: 14%;height:20%;"></a>

</div>

<div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/26/3.jpg" alt="image">						
  <a href="/item/detail/1414"  style="top: 11%;left: 84%;width: 15%;height:20%;"></a>
  <a href="/item/detail/926"  style="top: 20%;left: 58%;width: 29%;height:26%;"></a>
  <a href="/item/detail/159"  style="top: 45%;left: 58%;width: 29%;height:40%;"></a>
  <a href="/item/detail/142"  style="top: 53%;left: 42%;width: 16%;height:13%;"></a>
  <a href="/item/detail/1667"  style="top: 82%;left: 41%;width: 21%;height:17%;"></a>
</div>

  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/26/4.jpg" alt="image">						
  <a href="/item/detail/972"  style="top: 12%;left: 2%;width: 15%;height:21%;"></a>
  <a href="/item/detail/1632"  style="top: 22%;left: 18%;width: 28%;height:25%;"></a>
  <a href="/item/detail/1335"  style="top: 47%;left: 18%;width: 28%;height:45%;"></a>
  <a href="/item/detail/1395"  style="top: 85%;left: 37%;width: 22%;height:13%;"></a>
 
  </div>
 	  
</div>
<#include "topic_footer.ftl">  
  

 




