<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>情人之结</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>情人之结</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<div class="image" style="margin-top: 45px;">
  <img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/10/hshs10_00.jpg" alt="image">
  <div class="image first-image">
  <img class="bg-img" src="/static/images/topic/top/2015/10/hshs10_01.jpg" alt="image">
  <a href="/item/detail/930" style="top: 10%;left: 0%;width: 25%;height:20%;"></a>
  <a href="/item/detail/1155" style="top: 30%;left: 14%;width: 42%;height: 16%;"></a>
  <a href="/item/detail/1163" style="top: 60%;left: 15%;width: 40%;height: 18%;"></a>
  <a href="/item/detail/1003" style="top: 62%;left: 56%;width: 38%;height: 20%;"></a>
  </div>
  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/hshs10_02.gif" alt="image">
  <a href="/item/detail/928" style="top: 0%;left: 0%;width: 25%;height:25%;"></a>
  <a href="/item/detail/1165" style="top: 25%;left: 10%;width: 44%;height: 24%;"></a>
  <a href="/item/detail/148" style="top: 65%;left: 58%;width: 35%;height: 20%;"></a>
  <a href="/item/detail/1162" style="top: 64%;left: 10%;width: 45%;height: 20%;"></a>
  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/hshs10_03.gif" alt="image">
  <a href="/item/detail/932" style="top: 0%;left: 0%;width: 25%;height:25%;"></a>
  <a href="/item/detail/1156" style="top: 25%;left: 10%;width: 44%;height: 20%;"></a>
  <a href="/item/detail/1066" style="top: 52%;left: 60%;width: 33%;height: 25%;"></a>
  <a href="/item/detail/1160" style="top: 54%;left: 10%;width: 45%;height: 23%;"></a>
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/hshs10_04.gif" alt="image">						
  <a href="/item/detail/1159" style="top: 12%;left: 8%;width: 45%;height: 60%;"></a>
  <a href="/item/detail/328" style="top: 50%;left: 60%;width: 46%;height: 22%;"></a>
  </div>
  <div class="image five-image">
  <img class="bg-img" src="/static/images/topic/top/2015/hshs10_05.gif" alt="image">						
  <a href="/item/detail/61" style="top: 15%;left: 68%;width: 25%;height: 65%;"></a>
  <a href="/item/detail/276" style="top: 18%;left:10%;width: 35%;height: 22%;"></a>
  <a href="/item/detail/107" style="top: 23%;left:48%;width: 20%;height: 20%;"></a>
  <a href="/item/detail/475" style="top: 47%;left:12%;width: 35%;height: 16%;"></a>
  <a href="/item/detail/778" style="top: 65%;left:12%;width: 40%;height: 22%;"></a>
  
  </div>
  <div class="image six-image">
  <img class="bg-img" src="/static/images/topic/top/2015/hshs10_06.gif" alt="image">						
  <a href="/item/detail/41" style="top: 15%;left: 68%;width: 25%;height: 65%;"></a>
  <a href="/item/detail/1098" style="top: 11%;left:35%;width: 28%;height:10%;"></a>
  <a href="/item/detail/441" style="top: 23%;left:8%;width: 38%;height: 20%;"></a>
  <a href="/item/detail/318" style="top: 47%;left:20%;width: 25%;height: 10%;"></a>
  <a href="/item/detail/953" style="top: 63%;left:10%;width: 40%;height: 22%;"></a>
  
  </div>
  <div class="image seven-image">
  <img class="bg-img" src="/static/images/topic/top/2015/hshs10_07.gif" alt="image">						
  <a href="/item/detail/45" style="top: 15%;left: 68%;width: 25%;height: 65%;"></a>
  <a href="/item/detail/1152" style="top: 10%;left:10%;width: 35%;height: 22%;"></a>
  <a href="/item/detail/501" style="top: 34.8%;left:42%;width: 25%;height: 8%;"></a>
  <a href="/item/detail/475" style="top: 45%;left:18%;width: 28%;height: 12%;"></a>
  <a href="/item/detail/312" style="top: 65%;left:12%;width: 40%;height: 22%;"></a>
  </div>
  <div class="image eight-image">
  <img class="bg-img" src="/static/images/topic/top/2015/hshs10_08.gif" alt="image">						
  <a href="/item/detail/46" style="top: 15%;left: 68%;width: 25%;height: 65%;"></a>
  <a href="/item/detail/1142" style="top: 10%;left:12%;width: 35%;height:13%;"></a>
  <a href="/item/detail/500" style="top: 25%;left:33%;width: 30%;height: 8%;"></a>
  <a href="/item/detail/728" style="top: 36%;left:12%;width: 22%;height:15%;"></a>
  <a href="/item/detail/704" style="top: 56%;left:12%;width: 42%;height: 22%;"></a>
  </div>
	
 </div>

	
  
 




