<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>Oversized“升温季”</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>Oversized“升温季”</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
 <div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img"  id="j-image-first" src="/static/images/topic/top/2015/24/0.jpg" alt="image">
       </p>
     </blockquote>
   </blockquote>
 </div>
	
<div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/24/1.jpg" alt="image">
  <a href="/item/detail/1418"  style="top: 4%;left: 70%;width: 26%;height:27%;"></a>
  <a href="/item/detail/1546"  style="top: 8%;left: 29%;width: 40%;height:78%;"></a> 
  <a href="/item/detail/997"  style="top: 35%;left: 74%;width: 25%;height:19%;"></a>
  <a href="/item/detail/1419"  style="top: 60%;left: 65%;width: 33%;height:19%;"></a>
  <a href="/item/detail/1333"  style="top: 61%;left: 3%;width: 28%;height:28%;"></a>
  </div>

  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/24/2.jpg" alt="image">
  <a href="/item/detail/1706"  style="top:1%;left: 32%;width: 40%;height:71%;"></a>
  <a href="/item/detail/1442"  style="top: 8%;left: 3%;width: 25%;height:20%;"></a> 
  <a href="/item/detail/893"  style="top: 40%;left:3%;width: 23%;height:51%;"></a>
  <a href="/item/detail/1342"  style="top: 63%;left:68%;width: 25%;height:28%;"></a>
  </div>

  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/24/3.jpg" alt="image">						
  <a href="/item/detail/1489"  style="top: 1%;left: 69%;width: 30%;height:15%;"></a>
  <a href="/item/detail/1705"  style="top: 7%;left: 30%;width: 39%;height:72%;"></a>
  <a href="/item/detail/1518"  style="top: 57%;left: 70%;width: 29%;height:18%;"></a>
  <a href="/item/detail/927"  style="top: 71%;left: 5%;width: 32%;height:20%;"></a>
  </div>

  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/24/4.jpg" alt="image">						
  <a href="/item/detail/367"  style="top: 2%;left: 2%;width: 25%;height:15%;"></a>
  <a href="/item/detail/1636"  style="top: 3%;left: 32%;width: 43%;height:82%;"></a>
  <a href="/item/detail/938"  style="top: 50%;left: 3%;width: 36%;height:30%;"></a>
  <a href="/item/detail/1212"  style="top: 59%;left: 63%;width: 35%;height:28%;"></a>
  <a href="/item/detail/329"  style="top: 19%;left: 2;width: 35%;height:28%;"></a>
  </div>
 
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/24/5.jpg" alt="image">						
  <a href="/item/detail/113"  style="top: 2%;left: 70%;width: 25%;height:11%;"></a>
  <a href="/item/detail/1635"  style="top: 2%;left: 29%;width: 41%;height:87%;"></a>
  <a href="/item/detail/1343"  style="top: 45%;left: 65%;width: 32%;height:29%;"></a>
  <a href="/item/detail/1214"  style="top: 67%;left: 3%;width: 30%;height:25%;"></a>
  </div>
  
</div>
<#include "topic_footer.ftl">  
  

 




