<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>萌宠“奇袭”</title>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>萌宠“奇袭”</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
<div class="image zero-image">
   <blockquote>
     <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/18/18_01.jpg" alt="image">
       
     </p>
   </blockquote>
 </div>
  <div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/18/18_02.jpg" alt="image">
  <a href="/item/detail/791"  style="top: 7%;left: 55%;width: 28%;height:20%;"></a>
  <a href="/item/detail/1555" style="top: 25%;left: 15%;width: 40%;height:40%;"></a>
  <a href="/item/detail/483" style="top: 70%;left: 10%;width: 20%;height:15%;"></a>
  <a href="/item/detail/1200" style="top: 81%;left: 35%;width: 22%;height:18%;"></a>
  <a href="/item/detail/482" style="top: 85%;left: 68%;width: 30%;height:12%;"></a>
  <a href="/item/detail/1556" style="top: 55%;left: 56%;width: 40%;height:26%;"></a>
   
  </div>
  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/18/18_03.jpg" alt="image">
  <a href="/item/detail/687"  style="top: 2%;left: 15%;width: 28%;height:22%;"></a>
  <a href="/item/detail/497" style="top: 25%;left: 28%;width: 40%;height:12%;"></a>
  <a href="/item/detail/480" style="top: 30%;left: 2%;width: 24%;height:30%;"></a>
  <a href="/item/detail/1486" style="top: 40%;left: 33%;width: 24%;height:22%;"></a>
  <a href="/item/detail/1228" style="top: 45%;left: 64%;width: 34%;height:34%;"></a>
  <a href="/item/detail/1120" style="top: 83%;left: 36%;width: 40%;height:15%;"></a>

  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/18/18_04.jpg" alt="image">						
  <a href="/item/detail/369"  style="top: 4%;left: 55%;width: 40%;height:15%;"></a>
  <a href="/item/detail/1230" style="top: 15%;left: 28%;width: 30%;height:35%;"></a>
  <a href="/item/detail/1336" style="top: 40%;left: 60%;width: 40%;height:30%;"></a>
  <a href="/item/detail/145" style="top: 53%;left: 15%;width: 30%;height:20%;"></a>
  <a href="/item/detail/1425" style="top: 75%;left: 70%;width: 30%;height:20%;"></a>
  <a href="/item/detail/355" style="top: 80%;left: 28%;width: 40%;height:15%;"></a>
  
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/18/18_05.jpg" alt="image">						
  <a href="/item/detail/1406"  style="top: 4%;left: 2%;width: 30%;height:30%;"></a>
  <a href="/item/detail/913" style="top: 35%;left: 2%;width: 30%;height:28%;"></a>
  <a href="/item/detail/1201" style="top: 65%;left: 2%;width: 30%;height:28%;"></a>
  <a href="/item/detail/104" style="top: 30%;left: 35%;width: 30%;height:55%;"></a>
  <a href="/item/detail/1531" style="top: 15%;left: 70%;width: 30%;height:30%;"></a>
  <a href="/item/detail/1119" style="top: 70%;left: 70%;width: 30%;height:20%;"></a>
  
  </div>
</div>
<#include "topic_footer.ftl">  
  

 




