<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>空中"镂格"</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>空中"镂格"</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
<div class="image zero-image">
  <img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/14/14_01.gif" alt="image">
  
  </div>
  <div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/14/14_02.gif" alt="image">
  <a href="/item/detail/33" style="top: 10%;left: 52%;width: 43%;height:37%;"></a>
  <a href="/item/detail/402" style="top: 48%;left: 64%;width: 20%;height:45%;"></a>
  <a href="/item/detail/142" style="top: 41%;left: 10%;width: 28%;height:20%;"></a>
  <a href="/item/detail/278" style="top: 62%;left: 28%;width: 28%;height:15%;"></a>
  <a href="/item/detail/606" style="top: 78%;left: 14%;width: 32%;height:15%;"></a>
  
  </div>
  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/14/14_03.gif" alt="image">
  <a href="/item/detail/718" style="top: 8%;left: 10%;width: 40%;height:38%;"></a>
  <a href="/item/detail/1124" style="top: 47%;left: 18%;width: 20%;height:42%;"></a>
  <a href="/item/detail/63" style="top: 25%;left: 67%;width: 26%;height:45%;"></a>
  <a href="/item/detail/36" style="top: 55%;left: 40%;width: 26%;height:22%;">	</a>
  <a href="/item/detail/1402" style="top: 80%;left: 60%;width: 34%;height:15%;">	</a>
  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/14/14_04.gif" alt="image">						
  <a href="/item/detail/792" style="top: 6%;left: 50%;width: 42%;height:40%;"></a>
  <a href="/item/detail/1051" style="top: 47%;left: 60%;width: 25%;height:40%;"></a>
  <a href="/item/detail/326" style="top: 44%;left: 15%;width: 25%;height:18%;">	</a>
  <a href="/item/detail/312" style="top: 65%;left: 15%;width: 35%;height:25%;">	</a>
  
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/14/14_05.gif" alt="image">						
  <a href="/item/detail/9" style="top: 10%;left: 10%;width: 40%;height:35%;"></a>
  <a href="/item/detail/558" style="top: 46%;left: 15%;width: 28%;height:45%;"></a>
  <a href="/item/detail/1196" style="top: 47%;left: 53%;width: 40%;height:28%;"></a>
  <a href="/item/detail/934" style="top: 78%;left: 55%;width: 32%;height:18%;"></a>
  
  </div>
  <div class="image five-image">
  <img class="bg-img" src="/static/images/topic/top/2015/14/14_06.gif" alt="image">						
  <a href="/item/detail/1053" style="top: 8%;left: 50%;width: 42%;height:40%;"></a>
  <a href="/item/detail/1049" style="top: 49%;left: 60%;width: 25%;height:40%;"></a>
  <a href="/item/detail/877" style="top: 35%;left: 18%;width: 30%;height:30%;"></a>
  <a href="/item/detail/580" style="top: 70%;left: 10%;width: 35%;height:20%;"></a>
    
  </div>


</div>
<#include "topic_footer.ftl"> 	
  
 




