<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>白衬衫之谜</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>白衬衫之谜</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<div class="image" style="margin-top: 45px;">

<div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/8/0.jpg" alt="image">
         
       </p>
     </blockquote>
   </blockquote>
 </div>
<div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/8/1.jpg" alt="image">
  <a href="/item/detail/864" style="top: 15%;left: 18%;width: 40%;height: 48%;"></a>
  <a href="/item/detail/34" style="top: 39%;left: 0%;width: 26%;height: 14%;"></a>
  <a href="/item/detail/1069" style="top: 33%;left: 60%;width: 30%;height: 45%;"></a>
  
  <a href="/item/detail/1001" style="top: 2%;left: 56.5%;width: 34%;height: 31%;"></a>
  <a href="/item/detail/898" style="top: 63%;left: 5%;width: 34%;height: 17%;"></a>
</div>


<div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/8/2.jpg" alt="image">
  <a href="/item/detail/205" style="top: 15%;left: 15%;width: 40%;height: 48%;"></a>
  <a href="/item/detail/42" style="top: 35%;left: 0%;width: 25%;height: 20%;"></a>
  <a href="/item/detail/920" style="top: 58%;left: 13%;width: 30%;height: 20%;"></a>
  <a href="/item/detail/999" style="top: 40%;left: 56.5%;width: 34%;height: 35%;"></a>
  <a href="/item/detail/1034" style="top: 5%;left: 58%;width: 34%;height: 26%;"></a>
  </div>

  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/8/3.jpg" alt="image">						
  <a href="/item/detail/92"  style="top: 32%;left: 58%;width: 35%;height:45%;"></a>
  <a href="/item/detail/142"  style="top: 34%;left: 32%;width: 25%;height:13%;"></a>
  <a href="/item/detail/143"  style="top: 67%;left: 11%;width: 35%;height:15%;"></a>
  <a href="/item/detail/141"  style="top: 13%;left: 15%;width: 29%;height:50%;"></a>
  
  </div>

 </div>
<#include "topic_footer.ftl"> 
	
  
 




