<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>西装新调</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>西装新调</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
 <div class="image zero-image">
  <img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/21/21_01.jpg" alt="image">
  
  </div>
  <div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/21/21_02.jpg" alt="image">
  <a href="/item/detail/1099" style="top: 30%;left: 40%;width: 30%;height:35%;"></a>
  <a href="/item/detail/570" style="top: 30%;left:75%;width: 20%;height:35%;"></a>
  <a href="/item/detail/1217" style="top: 66%;left: 40%;width: 30%;height:34%;"></a>
  <a href="/item/detail/259" style="top: 66%;left: 75%;width: 20%;height:34%;"></a>
   
  </div>
  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/21/21_03.jpg" alt="image">
  <a href="/item/detail/1618" style="top: 30%;left: 5%;width: 25%;height:35%;"></a>
  <a href="/item/detail/276" style="top: 30%;left:35%;width: 25%;height:35%;"></a>
  <a href="/item/detail/950" style="top: 66%;left: 5%;width: 25%;height:34%;"></a>
  <a href="/item/detail/1292" style="top: 66%;left: 35%;width: 25%;height:34%;"></a>
  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/21/21_04.jpg" alt="image">						
  <a href="/item/detail/1617" style="top: 30%;left: 42%;width: 25%;height:35%;"></a>
  <a href="/item/detail/503" style="top: 30%;left:70%;width: 25%;height:35%;"></a>
  <a href="/item/detail/953" style="top: 66%;left: 42%;width: 25%;height:34%;"></a>
  <a href="/item/detail/1627" style="top: 66%;left: 70%;width: 25%;height:34%;"></a>
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/21/21_05.jpg" alt="image">						
  <a href="/item/detail/1068" style="top: 30%;left: 5%;width: 25%;height:35%;"></a>
  <a href="/item/detail/107" style="top: 30%;left:35%;width: 25%;height:35%;"></a>
  <a href="/item/detail/605" style="top: 66%;left: 5%;width: 25%;height:34%;"></a>
  <a href="/item/detail/256" style="top: 66%;left: 35%;width: 25%;height:34%;"></a>
  </div>
  <div class="image five-image">
  <img class="bg-img" src="/static/images/topic/top/2015/21/21_06.jpg" alt="image">						
  <a href="/item/detail/1621" style="top: 30%;left: 42%;width: 25%;height:33%;"></a>
  <a href="/item/detail/316" style="top: 30%;left:70%;width: 25%;height:33%;"></a>
  <a href="/item/detail/1582" style="top: 64%;left: 42%;width: 25%;height:34%;"></a>
  <a href="/item/detail/1628" style="top: 64%;left: 70%;width: 25%;height:34%;"></a>
  </div>
  

</div>
<#include "topic_footer.ftl">  
  

 




