<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>"IRIS"迷幻混搭法</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>"IRIS"迷幻混搭法</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
<div class="image zero-image">
   <blockquote>
     <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/16/16_01.jpg" alt="image">
       
     </p>
   </blockquote>
 </div>
  <div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/16/16_02.jpg" alt="image">
  <a href="/item/detail/1543"  style="top: 12%;left: 70%;width: 30%;height:80%;"></a>
  <a href="/item/detail/1527" style="top: 48%;left: 30%;width: 20%;height:18%;"></a>
  <a href="/item/detail/1489" style="top: 66%;left: 48%;width: 20%;height:15%;"></a>
  <a href="/item/detail/1503" style="top: 81%;left: 35%;width: 22%;height:18%;"></a>
   
  </div>
  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/16/16_03.jpg" alt="image">
  <a href="/item/detail/330" style="top: 5%;left: 10%;width: 20%;height:12%;"></a>
  <a href="/item/detail/111" style="top: 18%;left: 1%;width: 20%;height:75%;"></a>
  <a href="/item/detail/1419" style="top: 55%;left: 21%;width: 20%;height:20%;"></a>
  <a href="/item/detail/1533" style="top: 23%;left: 45%;width: 24%;height:55%;"></a>
  <a href="/item/detail/1387" style="top: 81%;left: 40%;width: 26%;height:18%;">	</a>

  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/16/16_04.jpg" alt="image">						
  <a href="/item/detail/1534" style="top: 10%;left: 70%;width: 30%;height:60%;"</a>
  <a href="/item/detail/843" style="top:75%;left: 70%;width: 25%;height:20%;"></a>
  <a href="/item/detail/1529" style="top: 42%;left: 55%;width: 13%;height:42%;">	</a>
  <a href="/item/detail/1017" style="top: 65%;left: 34%;width: 20%;height:30%;">	</a>
  
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/16/16_05.jpg" alt="image">						
  <a href="/item/detail/1530" style="top: 12%;left: 1%;width: 20%;height:80%;"></a>
  <a href="/item/detail/999" style="top: 55%;left: 28%;width: 17%;height:28%;"></a>
  <a href="/item/detail/1531" style="top: 30%;left: 53%;width: 20%;height:40%;"></a>
  <a href="/item/detail/353" style="top: 78%;left: 45%;width: 20%;height:18%;"></a>
  
  </div>


</div>
	
 <#include "topic_footer.ftl">  
 




