<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>"蓝"瘾症</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>"蓝"瘾症</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 0px;"> 
<div class="image first-image">
  <img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/12/12_01.gif" alt="image">
  </div>
   <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/12/12_02.gif" alt="image">
  <a href="/item/detail/306" style="top: 25%;left: 60%;width: 32%;height:20%;"></a>
  <a href="/item/detail/584" style="top: 50%;left: 65%;width: 24%;height:45%;"></a>
  <a href="/item/detail/220" style="top: 25%;left: 10%;width: 43%;height:45%;"></a>
  <a href="/item/detail/498" style="top: 73%;left: 38%;width: 25%;height:6.5%;"></a>
  <a href="/item/detail/1204" style="top: 80%;left: 10%;width: 45%;height:15%;"></a>
  
  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/12/12_03.gif" alt="image">
  <a href="/item/detail/95" style="top: 20%;left: 10%;width: 32%;height:25%;"></a>
  <a href="/item/detail/520" style="top: 48%;left: 16%;width: 25%;height:43%;"></a>
  <a href="/item/detail/798" style="top: 20%;left: 50%;width: 40%;height:43%;">	</a>
  <a href="/item/detail/1142" style="top: 68%;left: 50%;width: 40%;height:12%;">	</a>
  <a href="/item/detail/600" style="top: 83%;left: 50%;width: 40%;height:12%;">	</a>
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/12/12_04.gif" alt="image">						
  <a href="/item/detail/721" style="top: 25%;left: 60%;width: 32%;height:16%;"></a>
  <a href="/item/detail/1172" style="top: 46%;left: 65%;width: 24%;height:45%;"></a>
  <a href="/item/detail/826" style="top: 22%;left: 10%;width: 44%;height:43%;">	</a>
  <a href="/item/detail/150" style="top: 70%;left: 35%;width: 20%;height:13%;">	</a>
  <a href="/item/detail/551" style="top: 85%;left: 14%;width: 40%;height:12%;">	</a>
  </div>
  <div class="image five-image">
  <img class="bg-img" src="/static/images/topic/top/2015/12/12_05.gif" alt="image">						
  <a href="/item/detail/851" style="top: 24%;left: 3%;width: 30%;height:53%;"></a>
  <a href="/item/detail/436" style="top: 80%;left: 12%;width: 40%;height:15%;"></a>
  <a href="/item/detail/508" style="top: 30%;left: 32%;width: 21%;height:12.5%;"></a>
  <a href="/item/detail/314" style="top: 43%;left: 35%;width: 16%;height:24%;"></a>
  <a href="/item/detail/707" style="top: 25%;left: 55%;width: 38%;height:60%;"></a>
  
  </div>
  <div class="image six-image">
  <img class="bg-img" src="/static/images/topic/top/2015/12/12_06.gif" alt="image">						
  <a href="/item/detail/700" style="top: 22%;left: 58%;width: 32%;height:20%;"></a>
  <a href="/item/detail/847" style="top: 47%;left: 64%;width: 26%;height:46%;"></a>
  <a href="/item/detail/884" style="top: 23%;left: 10%;width: 40%;height:42%;"></a>
  <a href="/item/detail/501" style="top: 68%;left: 37%;width: 25%;height:8%;"></a>
  <a href="/item/detail/583" style="top: 77%;left: 10%;width: 43%;height:12%;"></a>
  
  </div>
</div>
<#include "topic_footer.ftl"> 	
  
 




