<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>SIMPLE FALL</title>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>SIMPLE FALL</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
<div class="image zero-image">
   <blockquote>
     <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/17/17_01.jpg" alt="image">
       
     </p>
   </blockquote>
 </div>
  <div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/17/17_02.jpg" alt="image">
  <a href="/item/detail/993"  style="top: 2%;left: 70%;width: 30%;height:40%;"></a>
  <a href="/item/detail/784" style="top: 48%;left: 65%;width: 30%;height:18%;"></a>
  <a href="/item/detail/1422"  style="top: 10%;left: 35%;width: 30%;height:30%;"></a>
  <a href="/item/detail/895"  style="top: 40%;left: 35%;width: 28%;height:50%;"></a>
  <a href="/item/detail/1424" style="top: 70%;left: 4%;width: 24%;height:22%;"></a>
   
  </div>
  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/17/17_03.jpg" alt="image">
  <a href="/item/detail/1488" style="top: 2%;left: 70%;width: 30%;height:30%;"></a>
  <a href="/item/detail/1078" style="top: 50%;left: 66%;width: 30%;height:20%;"></a>
  <a href="/item/detail/1140"  style="top: 10%;left: 35%;width: 30%;height:50%;"></a>
  <a href="/item/detail/1335"  style="top: 60%;left: 35%;width: 28%;height:30%;"></a>
  <a href="/item/detail/674" style="top: 75%;left: 4%;width: 24%;height:22%;"></a>

  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/17/17_04.jpg" alt="image">						
  <a href="/item/detail/319" style="top: 2%;left: 70%;width: 30%;height:30%;"></a>
  <a href="/item/detail/1475" style="top: 50%;left: 66%;width: 30%;height:20%;"></a>
  <a href="/item/detail/129"  style="top: 10%;left: 35%;width: 30%;height:50%;"></a>
  <a href="/item/detail/75"  style="top: 60%;left: 35%;width: 28%;height:30%;"></a>
  <a href="/item/detail/802" style="top: 75%;left: 4%;width: 24%;height:22%;"></a>
  
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/17/17_05.jpg" alt="image">						
  <a href="/item/detail/995" style="top: 2%;left: 70%;width: 30%;height:30%;"></a>
  <a href="/item/detail/137" style="top: 35%;left: 66%;width: 30%;height:20%;"></a>
  <a href="/item/detail/203"  style="top: 10%;left: 35%;width: 30%;height:30%;"></a>
  <a href="/item/detail/1477"  style="top: 40%;left: 35%;width: 28%;height:50%;"></a>
  <a href="/item/detail/949" style="top: 60%;left: 4%;width: 24%;height:30%;"></a>
  
  </div>
</div>
<#include "topic_footer.ftl">  
  

 




