<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>2016.“鸟兽”入侵</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>2016.“鸟兽”入侵</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
  <div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/25/0.jpg" alt="image">
       <p><img class="bg-img" src="/static/images/topic/top/2015/25/1.jpg" alt="image">
       </p>
     </blockquote>
   </blockquote>
 </div>
 
 <div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/25/2.jpg" alt="image">
  <a href="/item/detail/1679"  style="top: 22%;left: 43%;width: 17%;height:33%;"></a>
  <a href="/item/detail/987"  style="top: 27%;left: 76%;width: 17%;height:25%;"></a> 
  <a href="/item/detail/708"  style="top: 66%;left: 41%;width: 24%;height:25%;"></a>
  <a href="/item/detail/1250"  style="top: 63%;left: 77%;width: 15%;height:30%;"></a>
  </div>


<div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/25/3.jpg" alt="image">
  <a href="/item/detail/1676"  style="top: 26%;left: 5%;width: 22%;height:25%;"></a>
  <a href="/item/detail/1681"  style="top: 31%;left: 37%;width: 20%;height:15%;"></a> 
  <a href="/item/detail/1015"  style="top: 70%;left:5%;width: 20%;height:22%;"></a>
  <a href="/item/detail/893"  style="top: 65%;left: 41%;width: 12%;height:28%;"></a>

</div>


<div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/25/4.jpg" alt="image">						
  <a href="/item/detail/1680"  style="top: 28%;left: 41%;width: 22%;height:24%;"></a>
  <a href="/item/detail/1668"  style="top: 30%;left: 73%;width: 24%;height:20%;"></a>
  <a href="/item/detail/1643"  style="top: 70%;left: 44%;width: 20%;height:18%;"></a>
  <a href="/item/detail/1677"  style="top: 69%;left: 75%;width: 20%;height:20%;"></a>
</div>

  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/25/5.jpg" alt="image">						
  <a href="/item/detail/1678"  style="top: 22%;left: 5%;width: 18%;height:32%;"></a>
  <a href="/item/detail/321"  style="top: 31%;left: 35%;width: 23%;height:15%;"></a>
  <a href="/item/detail/643"  style="top: 74%;left: 4%;width: 23%;height:13%;"></a>
  <a href="/item/detail/130"  style="top: 69%;left: 38%;width: 18%;height:20%;"></a>
  </div>
 	  
</div>
<#include "topic_footer.ftl">  
  

 




