﻿<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>PARKA军衣机密</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>PARKA军衣机密</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
 <div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/27/0.jpg" alt="image"> 
       </p>
     </blockquote>
   </blockquote>
 </div>
<div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/27/1.jpg" alt="image">
  <a href="/item/detail/113"  style="top: 13%;left: 81%;width: 17%;height:5%;"></a>
  <a href="/item/detail/1710"  style="top: 13%;left: 43%;width: 40%;height:58%;"></a> 
  <a href="/item/detail/1717"  style="top: 75%;left: 72%;width: 26%;height:16%;"></a>
  <a href="/item/detail/1724"  style="top: 77%;left: 46%;width: 26%;height:17%;"></a>
  </div>

  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/27/2.jpg" alt="image">
  <a href="/item/detail/1359"  style="top: 5%;left: 2%;width: 35%;height:15%;"></a>
  <a href="/item/detail/1520"  style="top: 17%;left: 38%;width: 21%;height:12%;"></a> 
  <a href="/item/detail/1551"  style="top: 7%;left:37%;width: 20%;height:6%;"></a>
  <a href="/item/detail/1714"  style="top: 25%;left:6%;width: 23%;height:5%;"></a	

  </div>

  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/27/3.jpg" alt="image">						
  <a href="/item/detail/767"  style="top: 4%;left: 84%;width: 15%;height:25%;"></a>
  <a href="/item/detail/1709"  style="top: 9%;left: 43%;width: 43%;height:61%;"></a>
  <a href="/item/detail/1015"  style="top: 64%;left: 73%;width: 24%;height:25%;"></a>
  <a href="/item/detail/1731"  style="top: 71%;left: 40%;width: 30%;height:28%;"></a>
  </div>

  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/27/4.jpg" alt="image">						
  <a href="/item/detail/1442"  style="top: 12%;left: 3%;width: 21%;height:18%;"></a>
  <a href="/item/detail/1706"  style="top: 7%;left: 24%;width: 33%;height:55%;"></a>
  <a href="/item/detail/893"  style="top: 45%;left: 4%;width: 25%;height:43%;"></a>
  <a href="/item/detail/1342"  style="top: 68%;left: 32%;width: 25%;height:23%;"></a>
  </div>
 	  
</div>
<#include "topic_footer.ftl">  
  

 




