<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>最夯冬靴盘点 </title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>最夯冬靴盘点</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;">

<div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/37/0.jpg" alt="image">
         
       </p>
     </blockquote>
   </blockquote>
 </div>
<div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/37/1.jpg" alt="image">
   	  <a href="/item/detail/1982" style="top: 1%;left: 29%;width: 35%;height:18%;position:absolute;"></a>
	  <a href="/item/detail/1981" style="top: 23%;left: 34%;width: 28%;height:17%;position:absolute;"></a> 
	  <a href="/item/detail/1760" style="top: 45%;left: 33%;width: 33%;height:20%;position:absolute;"></a>
	  <a href="/item/detail/1992" style="top: 1%;left: 67%;width: 27%;height:55%;position:absolute;"></a>
	  <a href="/item/detail/1995" style="top: 60%;left: 65%;width: 30%;height:33%;position:absolute;"></a>
  </div>


  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/37/2.jpg" alt="image">
	  <a href="/item/detail/1986" style="top: 12%;left: 5%;width: 24%;height:49%;position:absolute;"></a>
	  <a href="/item/detail/1985" style="top: 7%;left: 30%;width: 31%;height:45%;position:absolute;"></a>
	  <a href="/item/detail/1984" style="top: 62%;left: 3%;width: 32%;height:31%;position:absolute;"></a>
      <a href="/item/detail/1993" style="top: 54%;left: 35%;width: 35%;height:18%;position:absolute;"></a>
 </div>


  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/37/3.jpg" alt="image">						
 	  <a href="/item/detail/821" style="top: 3%;left: 40%;width: 25%;height:34%;position:absolute;"></a>
	  <a href="/item/detail/1042" style="top: 11%;left: 72%;width: 23%;height:20%;position:absolute;"></a>  
	  <a href="/item/detail/819" style="top: 41%;left: 36%;width: 20%;height:30%;position:absolute;"></a>
      <a href="/item/detail/1994" style="top: 38%;left: 58%;width: 20%;height:19%;position:absolute;"></a>
	  <a href="/item/detail/1988" style="top: 37%;left: 78%;width: 20%;height:54%;position:absolute;"></a>
  </div>


  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/37/4.jpg" alt="image">						
  	  <a href="/item/detail/1989" style="top: 12%;left: 7%;width: 27%;height:42%;position:absolute;"></a>
	  <a href="/item/detail/1987" style="top: 69%;left: 3%;width:38%;height:26%;position:absolute;"></a>  
	  <a href="/item/detail/1991" style="top: 12%;left: 42%;width: 19%;height:48%;position:absolute;"></a>
	  <a href="/item/detail/1990" style="top: 56%;left: 21%;width: 21%;height:14%;position:absolute;"></a>
  </div>
 	  
</div>
<#include "topic_footer.ftl">  
  

 




