<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>所向披靡</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>所向披靡</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;">

<div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/31/0.jpg" alt="image"></p>
 	
     </blockquote>
   </blockquote>
 </div>


<div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/31/1.jpg" alt="image">
  <a href="/item/detail/1867"  style="top: 6%;left: 1%;width: 19%;height:20%;"></a>
  <a href="/item/detail/1865"  style="top: 35%;left: 55%;width: 25%;height:42%;"></a>
  <a href="/item/detail/1416"  style="top: 61%;left: 42%;width: 20%;height:18%;"></a> 
  <a href="/item/detail/1423"  style="top: 76%;left: 60%;width: 18%;height:20%;"></a>
  <a href="/item/detail/1774"  style="top: 80%;left: 78%;width: 19%;height:18%;"></a>
  </div>

  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/31/2.jpg" alt="image">
  <a href="/item/detail/1872"  style="top: 19%;left: 4%;width: 26%;height:43%;"></a>
  <a href="/item/detail/1884"  style="top: 34%;left: 30%;width: 25%;height:55%;"></a>  
   <a href="/item/detail/1866"  style="top: 69%;left: 10%;width: 12%;height:12%;"></a>
  <a href="/item/detail/1875"  style="top: 80%;left: 51%;width: 22%;height:20%;"></a>
 
  </div>

  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/31/3.jpg" alt="image">						
  <a href="/item/detail/1869"  style="top: 25%;left:55%;width: 22%;height:44%;"></a>
  <a href="/item/detail/1868"  style="top: 58%;left: 42%;width: 15%;height:12%;"></a>  
  <a href="/item/detail/1484"  style="top: 68%;left: 65%;width: 15%;height:30%;"></a>
  <a href="/item/detail/1342"  style="top: 75%;left: 49%;width: 15%;height:16%;"></a>
  <a href="/item/detail/1883"  style="top: 55%;left: 79%;width: 19%;height:15%;"></a>
  </div>

  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/31/4.jpg" alt="image">						
  <a href="/item/detail/1871"  style="top: 28%;left: 17%;width: 27%;height:34%;"></a>
  <a href="/item/detail/869"  style="top: 64%;left: 20%;width: 22%;height:14%;"></a>  
  <a href="/item/detail/1874"  style="top: 56%;left: 3%;width: 17%;height:14%;"></a>
  <a href="/item/detail/1870"  style="top: 80%;left: 34%;width: 22%;height:16%;"></a>
  <a href="/item/detail/1873"  style="top: 0%;left: 83%;width: 14%;height:30%;"></a>
  </div>
 	  
</div>
<#include "topic_footer.ftl">  
  

 




