<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>羊绒羔夹克</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>羊绒羔夹克</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;">

<div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/32/0.jpg" alt="image">
         
       </p>
     </blockquote>
   </blockquote>
 </div>
<div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/32/1.jpg" alt="image">
  <a href="/item/detail/1879"  style="top: 70%;left: 4%;width: 16%;height:22%;"></a>
  <a href="/item/detail/1882"  style="top: 70%;left: 29%;width: 15%;height:25%;"></a> 
  <a href="/item/detail/1828"  style="top: 77%;left: 54%;width: 20%;height:12%;"></a>
  <a href="/item/detail/1436"  style="top: 75%;left: 79%;width: 17%;height:17%;"></a>
  </div>


  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/32/2.jpg" alt="image">
  <a href="/item/detail/1880"  style="top: 75%;left: 2%;width: 20%;height:18%;"></a>
  <a href="/item/detail/1405"  style="top: 77%;left: 27%;width: 20%;height:11%;"></a>  
   <a href="/item/detail/1205"  style="top: 80%;left: 52%;width: 20%;height:11%;"></a>
  <a href="/item/detail/1489"  style="top: 75%;left: 80%;width: 17%;height:18%;"></a>
 </div>


  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/32/3.jpg" alt="image">						
  <a href="/item/detail/1881"  style="top: 73%;left: 2%;width: 20%;height:20%;"></a>
  <a href="/item/detail/734"  style="top: 70%;left: 30%;width: 15%;height:23%;"></a>  
  <a href="/item/detail/1851"  style="top: 74%;left: 55%;width: 17%;height:18%;"></a>
  <a href="/item/detail/1839"  style="top: 74%;left: 80%;width: 18%;height:14%;"></a>
  </div>


  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/32/4.jpg" alt="image">						
  <a href="/item/detail/1876"  style="top: 73%;left: 2%;width: 20%;height:18%;"></a>
  <a href="/item/detail/1878"  style="top: 75%;left: 29%;width: 17%;height:15%;"></a>  
  <a href="/item/detail/1727"  style="top: 74%;left: 54%;width: 19%;height:16%;"></a>
  <a href="/item/detail/1751"  style="top: 80%;left: 80%;width: 18%;height:12%;"></a>
  </div>
 	  
</div>
<#include "topic_footer.ftl">  
  

 




