<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>简T|轻生活</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>简T|轻生活</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<div class="image" style="margin-top: 45px;">
   <div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/9/0.jpg" alt="image"> 
       </p>
     </blockquote>
   </blockquote>
 </div>
<div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/9/1.jpg" alt="image">
  <a href="/item/detail/466" style="top: 22%;left: 69%;width: 30%;height: 28%;"></a>
  <a href="/item/detail/206" style="top: 30%;left: 25%;width: 40%;height: 42%;"></a>
  <a href="/item/detail/108"style="top: 54%;left: 61%;width: 30%;height: 45%;"></a>
  <a href="/item/detail/307" style="top: 74%;left: 5%;width: 38%;height: 15%;"></a>
  </div>

  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/9/2.jpg" alt="image">
  <a href="/item/detail/698" style="top: 12%;left: 33%;width: 30%;height: 15%;"></a>
  <a href="/item/detail/551" style="top: 35%;left: 7%;width: 44%;height: 58%;"></a>
  <a href="/item/detail/1111" style="top: 51%;left: 60%;width: 32%;height: 42%;"></a>
  
  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/9/3.jpg" alt="image">
  <a href="/item/detail/551" style="top: 0%;left: 5%;width: 30%;height: 17%;"></a>						
  <a href="/item/detail/316"  style="top: 22%;left: 28%;width: 35%;height:47%;"></a>
  <a href="/item/detail/316"  style="top: 20%;left: 70%;width: 25%;height:13%;"></a>
  <a href="/item/detail/1109"  style="top: 40%;left: 65%;width: 30%;height:58%;"></a>
  <a href="/item/detail/436"  style="top: 80%;left: 5%;width: 39%;height:15%;"></a>
  </div>

  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/9/4.jpg" alt="image">						
  <a href="/item/detail/314" style="top: 0%;left: 65%;width: 20%;height: 23%;"></a>
  <a href="/item/detail/231" style="top: 17%;left: 25%;width: 42%;height: 42%;"></a>
  <a href="/item/detail/1050" style="top: 30%;left: 64%;width: 28%;height: 54%;"></a>
  <a href="/item/detail/311" style="top: 45%;left: 4%;width: 28%;height: 33%;"></a>
  <a href="/item/detail/776" style="top: 85%;left: 23%;width: 39%;height: 12%;"></a>
  </div>

  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/9/5.jpg" alt="image">						
  <a href="/item/detail/150" style="top: 4%;left: 32%;width: 40%;height:30%;"></a>
  <a href="/item/detail/822" style="top: 31%;left: 0%;width: 42%;height:36%;"></a>
  <a href="/item/detail/875" style="top: 44%;left: 43%;width: 28%;height: 28%;"></a>
  <a href="/item/detail/851" style="top: 37%;left: 71%;width: 28%;height: 52%;"></a>
  <a href="/item/detail/848" style="top: 77%;left: 38%;width: 32%;height: 20%;"></a>	
  </div>

<div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/9/6.jpg" alt="image">						
   <a href="/item/detail/235" style="top: 7%;left: 25%;width: 45%;height: 36%;"></a>
  <a href="/item/detail/847" style="top: 15%;left: 63%;width: 35%;height: 46%;"></a>
  <a href="/item/detail/510" style="top: 50%;left: 3%;width: 30%;height: 12%;"></a>
  <a href="/item/detail/778" style="top:  61%;left: 42%;width: 40%;height: 12%;"></a>
  <a href="/item/detail/441" style="top: 65%;left: 2%;width: 40%;height:29%;"></a>
  </div>
</div>
<#include "topic_footer.ftl">
	
  
 




