<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>浪漫情“踝”</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>浪漫情“踝”</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
  	 <div class="image zero-image">
	   <blockquote>
	     <blockquote>
	       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/23/01.jpg" alt="image"> 
	       </p>
	     </blockquote>
	   </blockquote>
	 </div>
	<div class="image one-image">
	  <img class="bg-img" src="/static/images/topic/top/2015/23/02.jpg" alt="image">
	  <a href="/item/detail/330"  style="top: 3%;left: 78%;width: 19%;height:30%;"></a>
	  <a href="/item/detail/1554"  style="top: 13%;left: 38%;width: 40%;height:73%;"></a> 
	  <a href="/item/detail/1475"  style="top: 68%;left: 74%;width: 25%;height:15%;"></a>
	  <a href="/item/detail/1266"  style="top: 53%;left: 3%;width: 34%;height:45%;"></a>
	  </div>
	
	  <div class="image two-image">
	  <img class="bg-img" src="/static/images/topic/top/2015/23/03.jpg" alt="image">
	  <a href="/item/detail/996"  style="top: 3%;left: 42%;width: 22%;height:16%;"></a>
	  <a href="/item/detail/1682"  style="top: 3%;left: 3%;width: 41%;height:53%;"></a> 
	  <a href="/item/detail/1704"  style="top: 50%;left:38%;width: 18%;height:49%;"></a>
	  <a href="/item/detail/881"  style="top: 58%;left:3%;width: 21%;height:31%;"></a>
	  <a href="/item/detail/1324"  style="top: 59%;left:66%;width: 27%;height:40%;"></a>	
	
	  </div>
	
	  <div class="image three-image">
	  <img class="bg-img" src="/static/images/topic/top/2015/23/04.jpg" alt="image">						
	  <a href="/item/detail/323"  style="top: 13%;left: 79%;width: 18%;height:41%;"></a>
	  <a href="/item/detail/1692"  style="top: 14%;left: 38%;width: 39%;height:70%;"></a>
	  <a href="/item/detail/277"  style="top: 62%;left: 75%;width: 24%;height:18%;"></a>
	  <a href="/item/detail/1333"  style="top: 59%;left: 3%;width: 32%;height:40%;"></a>
	  </div>
	
	  <div class="image four-image">
	  <img class="bg-img" src="/static/images/topic/top/2015/23/05.jpg" alt="image">						
	  <a href="/item/detail/767"  style="top: 8%;left: 6%;width: 16%;height:25%;"></a>
	  <a href="/item/detail/1693"  style="top: 17%;left: 24%;width: 33%;height:65%;"></a>
	  <a href="/item/detail/404"  style="top: 54%;left: 3%;width: 23%;height:24%;"></a>
	  <a href="/item/detail/927"  style="top: 71%;left: 63%;width: 35%;height:28%;"></a>
	  </div>
	 
	
	  <div class="image five-image">
	  <img class="bg-img" src="/static/images/topic/top/2015/23/06.jpg" alt="image">						
	  <a href="/item/detail/955"  style="top: 6%;left: 75%;width: 24%;height:31%;"></a>
	  <a href="/item/detail/627"  style="top: 11%;left: 37%;width: 35%;height:80%;"></a>
	  <a href="/item/detail/1205"  style="top: 62%;left: 72%;width: 25%;height:20%;"></a>
	  <a href="/item/detail/275"  style="top: 64%;left: 3%;width: 32%;height:35%;"></a>
	  </div>
  
</div>
<#include "topic_footer.ftl">  
  

 




