<#include "topic.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>街拍有心机</title>
 
<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>街拍有心机</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
 <div class="image zero-image">
   <blockquote>
     <blockquote>
       <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/22/22_01.jpg" alt="image">
       </p>
     </blockquote>
   </blockquote>
 </div>
  <div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/22/22_02.jpg" alt="image">
  <a href="/item/detail/718"  style="top: 32%;left: 55%;width: 30%;height:25%;"></a>
  <a href="/item/detail/1045"  style="top: 58%;left: 63%;width: 15%;height:30%;"></a> 
  <a href="/item/detail/881"  style="top: 60%;left: 80%;width: 16%;height:30%;"></a>
  <a href="/item/detail/719"  style="top: 80%;left: 45%;width: 16%;height:18%;"></a>
  </div>
  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/22/22_03.jpg" alt="image">
  <a href="/item/detail/1580"  style="top: 10%;left: 10%;width: 30%;height:35%;"></a>
  <a href="/item/detail/841"  style="top: 46%;left: 23%;width: 15%;height:40%;"></a> 
  <a href="/item/detail/1288"  style="top: 60%;left:5%;width: 16%;height:25%;"></a>
  <a href="/item/detail/580"  style="top: 80%;left: 43%;width: 18%;height:18%;"></a>

  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/22/22_04.jpg" alt="image">						
  <a href="/item/detail/1632"  style="top: 24%;left: 73%;width: 20%;height:25%;"></a>
  <a href="/item/detail/1631"  style="top: 30%;left: 50%;width: 22%;height:50%;"></a>
  <a href="/item/detail/1438"  style="top: 55%;left: 76%;width: 20%;height:25%;"></a>
  <a href="/item/detail/607"  style="top: 81%;left: 35%;width: 30%;height:13%;"></a>
  
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/22/22_05.jpg" alt="image">						
  <a href="/item/detail/508"  style="top: 0%;left: 40%;width: 20%;height:20%;"></a>
  <a href="/item/detail/1612"  style="top: 10%;left: 12%;width: 22%;height:38%;"></a>
  <a href="/item/detail/851"  style="top: 50%;left: 21%;width: 20%;height:40%;"></a>
  <a href="/item/detail/1492"  style="top: 55%;left: 0%;width: 20%;height:30%;"></a>
  
  
  </div>
  

</div>
<#include "topic_footer.ftl">  
  

 




