<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>SUMMER TO FALL</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>SUMMER TO FALL</span>
  <i class="icon i-nav-bar fr"></i>
</div>
<div class="image" style="margin-top: 45px;"> 
<div class="image zero-image">
  <img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/13/13_01.gif" alt="image">
  
  </div>
  <div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/13/13_02.gif" alt="image">
  <a href="/item/detail/76" style="top: 10%;left: 46%;width: 34%;height:37%;"></a>
  <a href="/item/detail/724" style="top: 52%;left: 50%;width: 21%;height:45%;"></a>
  <a href="/item/detail/617" style="top: 47%;left: 70%;width: 26%;height:12.5%;"></a>
  <a href="/item/detail/135" style="top: 60%;left: 22%;width: 27%;height:15%;"></a>
  <a href="/item/detail/320" style="top: 76%;left: 8%;width: 32%;height:15%;"></a>
  
  </div>
  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/13/13_03.gif" alt="image">
  <a href="/item/detail/814" style="top: 10%;left: 10%;width: 18%;height:12%;"></a>
  <a href="/item/detail/689" style="top: 24%;left: 18%;width: 30%;height:45%;"></a>
  <a href="/item/detail/1176" style="top: 70%;left: 18%;width: 30%;height:18%;"></a>
  <a href="/item/detail/145" style="top: 50%;left: 52%;width: 33%;height:22%;">	</a>
  <a href="/item/detail/358" style="top: 78%;left: 52%;width: 38%;height:12%;">	</a>
  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/13/13_04.gif" alt="image">						
  <a href="/item/detail/288" style="top: 8%;left: 40%;width: 50%;height:40%;"></a>
  <a href="/item/detail/352" style="top: 55%;left: 60%;width: 25%;height:18%;"></a>
  <a href="/item/detail/1210" style="top: 48%;left: 25%;width: 30%;height:15%;">	</a>
  <a href="/item/detail/744" style="top: 65%;left: 10%;width: 30%;height:25%;">	</a>
  <a href="/item/detail/319" style="top: 75%;left: 70%;width: 25%;height:12%;">	</a>
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/13/13_05.gif" alt="image">						
  <a href="/item/detail/77" style="top: 10%;left: 25%;width: 32%;height:40%;"></a>
  <a href="/item/detail/147" style="top: 35%;left: 5%;width: 18%;height:15%;"></a>
  <a href="/item/detail/78" style="top: 52%;left: 22%;width: 28%;height:30%;"></a>
  <a href="/item/detail/1227" style="top: 47%;left: 51%;width: 24%;height:24%;"></a>
  <a href="/item/detail/328" style="top: 71%;left: 62%;width: 32%;height:20%;"></a>
  
  </div>
  <div class="image five-image">
  <img class="bg-img" src="/static/images/topic/top/2015/13/13_06.gif" alt="image">						
  <a href="/item/detail/27" style="top: 1%;left: 54%;width: 30%;height:30%;"></a>
  <a href="/item/detail/1045" style="top: 32%;left: 60%;width: 24%;height:60%;"></a>
  <a href="/item/detail/42" style="top: 46%;left: 33%;width: 25%;height:18%;"></a>
  <a href="/item/detail/1065" style="top: 66%;left: 10%;width: 45%;height:22%;"></a>
  <a href="/item/detail/143" style="top: 1%;left: 1%;width: 27%;height:58%;"></a>
  
  </div>
</div>
<#include "topic_footer.ftl"> 	
  
 




