<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>熟韵蕾丝</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>熟韵蕾丝</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<div class="image first-image">
<img class="bg-img" id="j-image-first" src="/static/images/topic/top/Sexy/leisi.gif"  alt="image1" />
<#--图片链接顺序    从左到右，从上到下 -->
<#--part1  -->
<a href="/item/detail/546" style="top: 37%;left: 10%;width: 33%;height: 13%;"></a>
<a href="/item/detail/544" style="top: 40%;left: 49%;width: 25%;height: 10%;"></a>
<a href="/item/detail/354" style="top: 45%;left: 75%;width: 20%;height: 10%;"></a>
<a href="/item/detail/275" style="top: 50.5%;left: 35%;width: 20%;height: 4%;"></a>
<#--part2  -->
<a href="/item/detail/101" style="top: 60%;left: 10%;width: 40%;height: 6%;"></a>

<a href="/item/detail/75" style="top: 66.5%;left: 10%;width: 40%;height: 8%;"></a>
<a href="/item/detail/34" style="top: 66.2%;left: 52%;width: 28%;height: 3%;"></a>
<a href="/item/detail/28" style="top: 70%;left: 69%;width: 25%;height: 5%;"></a>
<#--part3  -->
<a href="/item/detail/84" style="top: 80%;left: 10%;width: 35%;height: 16.5%;"></a>
<a href="/item/detail/278" style="top: 85%;left: 50%;width: 32%;height: 3%;"></a>
<a href="/item/detail/277" style="top: 89.3%;left: 65%;width: 25%;height: 3%;"></a>
<a href="/item/detail/148" style="top: 93%;left: 50%;width: 35%;height: 4%;"></a>
</div>