<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>绘事后素上线大折扣到来</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>绘事后素上线大折扣到来</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<div class="image first-image">
  <div class="image zero-image">
   <blockquote>
     <p><img class="bg-img" id="j-image-first" src="/static/images/topic/top/2015/2/dazhe_01.jpg" alt="image">
       
     </p>
   </blockquote>
 </div>
  <div class="image one-image">
  <img class="bg-img" src="/static/images/topic/top/2015/2/dazhe_02.jpg" alt="image">
  <a href="/item/detail/24"  style="top: 14%;left: 65%;width: 30%;height:33%;"></a>
  <a href="/item/detail/53"  style="top: 14%;left: 0%;width: 35%;height:45%;"></a>
  <a href="/item/detail/58"  style="top: 50%;left: 65%;width: 30%;height:33%;"></a>
  <a href="/item/detail/50"  style="top: 65%;left: 0%;width: 35%;height:35%;"></a> 
  </div>
  <div class="image two-image">
  <img class="bg-img" src="/static/images/topic/top/2015/2/dazhe_03.jpg" alt="image">
  <a href="/item/detail/82"  style="top: 0%;left: 65%;width: 35%;height:25%;"></a>
  <a href="/item/detail/77"  style="top: 0%;left: 0%;width: 35%;height:35%;"></a>
  <a href="/item/detail/66"  style="top: 26%;left: 65%;width: 35%;height:28%;"></a>
  <a href="/item/detail/101"  style="top: 37%;left: 0%;width: 35%;height:33%;"></a>
  <a href="/item/detail/54"  style="top: 60%;left: 50%;width: 45%;height:33%;"></a>

  </div>
  <div class="image three-image">
  <img class="bg-img" src="/static/images/topic/top/2015/2/dazhe_04.jpg" alt="image">						
  <a href="/item/detail/20"  style="top: 14%;left: 60%;width: 40%;height:33%;"></a>
  <a href="/item/detail/11"  style="top: 35%;left: 0%;width: 40%;height:30%;"></a>
  <a href="/item/detail/12"  style="top: 60%;left: 60%;width: 40%;height:30%;"></a>
  <a href="/item/detail/13"  style="top: 75%;left: 0%;width: 45%;height:25%;"></a>
  
  </div>
  <div class="image four-image">
  <img class="bg-img" src="/static/images/topic/top/2015/2/dazhe_05.jpg" alt="image">						
  <a href="/item/detail/17"  style="top: 0%;left: 49%;width: 50%;height:30%;"></a>
  <a href="/item/detail/16"  style="top: 30%;left: 0%;width: 50%;height:35%;"></a>
  <a href="/item/detail/21"  style="top: 55%;left: 52%;width: 47%;height:33%;"></a>
  
  
  </div>
 


</div>

