<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>The Utility Jacket街头新夹克风</title>
<content tag="javascript">/topic/temp1</content>
<content tag="css">/home/topic</content>

<#-- 页面内容部分 start -->
<#assign url = "/index">
<div class="banner">
  <a class="fl" href="javascript:void(0)" id="j-back"><i class="icon i-back"></i></a>
  <span>The Utility Jacket街头新夹克风</span>
  <i class="icon i-nav-bar fr"></i>
</div>

<img class="reminder" src="/static/images/topic/reminder.gif" style="top: 11%;">

<div><img class="demo-img first-image" id="j-image-first" src="/static/images/topic/top/Sporty/0.jpg" alt="image" /></div>

<div class="image" style="margin-top: -5px;">
  <img class="bg-img" src="/static/images/topic/top/Sporty/1_1.jpg" alt="image1" />
  <a href="/item/detail/60" style="top: 17%;left: 52%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/64" style="top: 17%;left: 74%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/57" style="top: 43%;left: 52%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/68" style="top: 43%;left: 74%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/52" style="top: 69%;left: 52%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/150" style="top: 69%;left: 74%;width: 24%;height: 28%;"></a>
</div>

<div class="image">
  <img class="bg-img" src="/static/images/topic/top/Sporty/2_1.jpg">
  <a href="/item/detail/81" style="top: 17%;left: 52%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/74" style="top: 17%;left: 74%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/72" style="top: 43%;left: 52%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/83" style="top: 43%;left: 74%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/127" style="top: 69%;left: 52%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/122" style="top: 69%;left: 74%;width: 24%;height: 28%;"></a>
</div>

<div class="image">
  <img class="bg-img" src="/static/images/topic/top/Sporty/3_1.jpg">
  <a href="/item/detail/88" style="top: 17%;left: 52%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/163" style="top: 17%;left: 74%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/98" style="top: 43%;left: 52%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/95" style="top: 43%;left: 74%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/103" style="top: 69%;left: 52%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/90" style="top: 69%;left: 74%;width: 24%;height: 28%;"></a>
</div>
<div class="image">
  <img class="bg-img" src="/static/images/topic/top/Sporty/4_1.jpg">
  <a href="/item/detail/109" style="top: 17%;left: 52%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/105" style="top: 17%;left: 74%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/51" style="top: 43%;left: 52%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/107" style="top: 43%;left: 74%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/108" style="top: 69%;left: 52%;width: 24%;height: 28%;"></a>
  <a href="/item/detail/149" style="top: 69%;left: 74%;width: 24%;height: 28%;"></a>
</div>


