<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<content tag="css">/home/topic</content>
<content tag="javascript">/topic/topic</content>
<#-- 页面内容部分 start -->

<input type="hidden" id="j-query-weixin-input" value="${isWeixin?string('true','false')}"/>

