@import url("../../lib/slick/slick.css");
@import url("../../lib/slick/slick-theme.css");

.banner{
  margin-bottom: 5px;
}

.product{
  padding: 10px;
  padding-bottom: 60px;
}
.product-intro{
  color: #666666;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 5px;
}
.produce-price{
  font-family: "OpenSans";
  font-weight: 600;
  color: #707070;
}
.produce-name{
  margin-bottom: 10px;
}

.produce-name a{
	color: #666;
}

.produce-share{
  float: right;
  width: 44px;
  text-align: center;
  border-left: solid 1px #d2d2d2; 
}
.product-description{
  padding: 3px 10px;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.8px;

}
.limit{
  margin-left: 5px;
  font-size: 0.8em;
  color: #ff8a44;
  vertical-align: 3px;
}
.product-images{
  width: 100%;
}
.product-images, .product-img{
  width: 100%;
  /*display: block;*/
}

.image-nav{
  text-align: center;
  margin-top: 13px;
}

.image-nav .circle{
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px #666;
  margin-right: 6px;
}

.image-nav .circle.selected{
  background: #666;
}

.pursue-info{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45px;
  line-height: 45px;
}
.pursue-info .tel, .pursue-info .fav{
  float: left;
  display: inline-block;
  background: #e7e7e7;
  color: #868686;
  text-align: center;
  width: 23%;
  height: 100%;
  box-sizing: border-box;
}
.pursue-info .cart, .pursue-info .buy{
  float: left;
  width: 27%;
  text-align: center;
  color: white;
  height: 100%;
}

.pursue-info .cart{
  background: #565656;
}
.pursue-info .buy{
  background: #67121b;
  /* background-color: rgb(171, 13, 97); */
}
.i-communicate, .i-fav, .i-faved{
  vertical-align: -3px;
  margin-right: 3px;
}
.i-fav, .i-faved{
  vertical-align: -5px;
  margin-right: 3px;
}

.select-mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  color: #666;
  display: none;
}
.select-bg{
  /*padding: 15px 15px 70px 15px;*/
  padding: 15px;
  background:white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.item-thumb{
  width: 60px;
  margin-right: 7px;
}

.select-name{
  margin: 0 70px 0 7px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 500;
}
.select-title{
  color: #b4b4b4;
  margin: 10px 0;
}
.select-list li{
  float: left;
  border: solid 1px #999999;
  text-align: center;
  width: 55px;
  height: 35px;
  line-height: 35px;
  margin-right: 8px;
  margin-bottom: 8px;
}


.buy-btn{
  color: white;
  line-height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-to-cart, .buy-now{
  width: 50%;
  text-align: center;
}
.add-to-cart{
  background:#565656;
}

.buy-now{
  background: #1c1c1c;
}

.select-list li.selected{
  background: #666666;
  color: white;
}

.confirm-btn{
  background:black;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 1.1em;
  font-weight: 700;
  width: 90%;
  margin: 20px auto 5px auto;
}

/*覆盖dots部分样式*/
.slick-dots{
  bottom: -30px;
}
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots li {
  margin: 0;
}