@charset "utf-8";

.banner{
	position: relative;
	z-index:10;
}

.error-box{
	width: 200px;
	height: 130px;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	text-align: center;
}

.error-img{
	width: 63px;
	height: 53px;
	background-position: -151px -158px;
	margin-bottom: 30px;
}

.error-box p{
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #000;
	font-family:  "Microsoft Yahei";
}
