.address{ 
  padding: 20px 10px;
  border-bottom:solid 1px #e7e7e7;
}
.i-address{
  float: left;
  margin-top: 8px;
}
.receiver{
  margin-bottom: 10px;
}
.address-text{  
  color: #666;
  margin-left: 36px;
  padding-right: 30px;
}

.receiver-phone, .receiver-name{
  font-size: 1.1em;
  font-weight: 700;
}

.receiver-name{
  color: #333;
}

.item-wrapper{
  /*border-bottom:solid 1px #e7e7e7;*/
  padding: 0 10px;
  color: #666;
  position: relative;
}
.item-thumb{
  width: 60px;
  margin-right: 7px;
}
.item-info{
  margin-left: 65px;
  margin-right: 50px;
}
.trans-fee{
  padding: 12px 10px;
}
.info-wrapper{
  padding: 15px 0;
  border-bottom: solid 1px #e7e7e7;
  position: relative;
}
.pay-wrapper{
  padding: 15px 10px;
  position: relative;
}
.pay-title{
  /*margin-bottom: 5px;*/
  padding-bottom: 5px;
  border-bottom: solid 1px #e7e7e7;
}
.pay-text{
  margin-left: 60px;
}
.wechat-pay{
  color: #333;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.1em;
}
.pay-type{
  position: relative;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #e7e7e7;

}
.i-check-circle{
  position: absolute;
  right: 20px;
  top: 5px;
}
.from-bank{
  color: #666;
  /*border-top:solid 1px #e7e7e7;*/
}
.from-bank .i-check-circle{
  top: 50px;
  display: none;
}
.order-pay{
  line-height: 45px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.order-info{
  padding: 0 15px;
  background: #e7e7e7;
  color: #666;
}
.order-to-pay{
  margin-right: 100px;
}
.total-count{
  font-size: 1.2em;
  vertical-align: bottom;
  color: #333;
}

.pay-btn{
  width: 100px;
  color: white;
  display: inline-block;
  background-color:#67121B;
  text-align: center;
  font-weight: bold;
}

.item-info .item-name{
  margin-bottom: 15px;
  font-size: 1.2em;
  font-weight: 500;
  white-space:nowrap; 
  width:8em; 
  overflow:hidden; 
  text-overflow:ellipsis;
}

.item-info .item-price{
  position: absolute;
  right: 20px;
  top: 30px;
}
.remark{
  padding: 10px;
  padding-bottom: 50px;
  padding-top: 0;
}
.remark p{
  margin-bottom: 10px;
}
.remark textarea{
  width: 100%;
  padding: 5px;
  height: 50px;
  box-sizing:border-box;
}
.remark textarea:focus{
  outline: none;
}
.item-link{
  color: #666;
}
/*
.check-box{
  display: block;
  width: 10px;
  height: 10px;
  border: solid 2px #a1a1a1;
  position: absolute;
  right: 20px;
  top: 5px;  
}
*/

.check-box {
    display: block;
    width: 16px;
    height: 16px;
    border: solid 1px #a1a1a1;
    position: absolute;
    right: 23px;
    top: 15px;
    border-radius: 16px;
}

.from-bank .check-box{
  top: 15px;
}
.i-check-tick{
  position: absolute;
  right: 23px;
  top: 15px;
}
.from-bank .i-check-tick{
  top: 15px;
  display: none;
}
.read-more{
  margin-left: 5px;
}
.reminder{
  margin-left: 60px;
  margin-top: 5px;
  display: none;
}

.order-view-box{
	border-bottom: solid 1px #e7e7e7;
}

.order-view-id{
  /*border-bottom: solid 1px #e7e7e7;*/
  padding: 10px 10px 5px;
}

.order-view-amout{
	border-bottom: none;
}

.favorable{
  display:block;
  height:40px;
  width:100%;
  border-bottom: solid 1px #e7e7e7;
  border-top: solid 1px #e7e7e7;
  line-height:40px;
  margin:10px 0;
  color:#000;
  cursor:pointer;
}
.favorable span{ float:right;}
.data{  float:right; padding-right:90px;}




