.size{
	/*padding: 20px; */
	/*overflow: hidden;*/
	/* padding: 5px; */
	 position: absolute;
	width: 320px;
	/*   left: 50%;
	  margin-left: -155px; */
}
.size-thead{
	position: absolute;
	/* width: 130px; */
	width: 72px;
	left: 0px;
}
.size-body{
	position: absolute;
	/* left: 130px; */
	left: 72px;
	/* width: 170px; */
	width: 248px;
	overflow-x: scroll;
}
.size-img{
	display: block;
}
#cloth{
	position: relative;	
}
#shoe{
	position: relative;
	top: 380px;
	
}
#ring{
	position: relative;	
	top: 680px
}
#belt{
	position: relative;
	top: 900px;
	
}
#hat{
	position: relative;	
	top: 1050px;
	margin-bottom: 20px;
}


#cloth .size-body{	
	/*width: 797px;*/
	/* height: 360px; */
}

#cloth .size-img{
	height: 337px;
}

#shoe .size-img{
  height: 262px;
}