.items{
  padding-left: 5%;
}

.item{
  width: 50%; /*why这个宽度居然是根据父元素剩余宽度为基数计算的……*/
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 5%;
  height: 240px;
}

.item-wrapper{
  display: block;
  color: black;
}

.item .item-img, .item .item-name, .item .item-price{
  width: 100%;
  text-align: left;
  margin: auto;
  font-size: 1em;
  margin-bottom: 5px;
  color: #666666;
}
.item, .item-wrapper, .item-img{
  max-height: 360px; /*具体确定*/
}
.item .item-price{
  margin-bottom: 0;  
}
.item .price.discount-price{
  color: #dd4570;
  margin-bottom: 0;
  line-height: 0.9em;
}

.items-three{
  padding-left: 3%;
}

.items-three .item{
  width: 33%;
  padding-right: 3%;
  font-size: 0.9em;
}

.none-reminder{
  text-align: center;
  padding-top: 80px;
}
.go-buy{
  text-align: center;
  margin-top: 20px;
}
.item .item-img{
  width: 140px;
  height: 154px;
}

.brand-name{
  font-family: "Bitter"
}
