@import url(../../module/item.css);
.designer-bg{
  padding: 15px;
}
.designer-img{
/*  width: 100%;*/
  width: 80px;
  height: 100px;
  max-height: 300px;
  float: left;
}
.designer-intro{
  line-height: 1.5em;
  font-size: 0.95em;
  color: #666;
}

.works{
  padding-left: 5%;
  padding-bottom: 80px;
}

.work{
  width: 50%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 5%;
}

.work-wrapper{
  display: block;
  color: black;
}

.work .work-img, .work .work-name, .work .work-price{
  width: 100%;
  text-align: left;
  margin: auto;
  font-size: 1em;
  margin-bottom: 5px;
  color: #666666;
}

.new-works{
  text-align: center;
  color: #999999;
  font-size: 1.1em;
}

.fav{
  width: 70px;
  text-align: center;
  line-height: 1.3em;
  color: #999999;
}

.intro-text{
  margin-left: 92px; 
  text-align: justify; 
  line-height: 1.3em;
  font-size: 1.05em;
  color: #666;
}
.name-fav{
  margin-top: 10px;
  line-height: 40px;
}
.designer-name{
  margin-right: 80px;
  font-family: 'Bitter';
}
.price.discount-price{
  color: #dd4570;
  margin-bottom: 0;
}
