/**
  main :#949cff;
*/
body{
  font-family: "Bitter";
}
.find-nav{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
.gender-select-wrapper{
  /*background: white;*/
  /*padding-top: 10px;*/
  position: relative;
  background: #edeef0;
  padding: 10px 15px;
  height: 18px;
  overflow: hidden;
}
.gender-select-wrapper .current{
  position: absolute;
  left: 50%;
  margin-left: -50px;
}
.dot-left{
  margin-right: 90px;
}
.gender-item{
  float: left;
  /*font-family: serif;*/
  position: absolute;
  left: 80%;
  top: 11px;
  color: #7a7885;
}
.gender-item.selected{
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  color: #38353c;
  top: 8px;
}
.search-az{
  position: fixed;
  /*background: #552d7f;*/
  /*background: rgba(85, 45, 127, 0.8);*/
  background: #755697;
  width: 45px;
  height: 45px;
  bottom: 80px;
  left: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.6),0 4px 15px -5px rgba(0,0,0,0.0);
  border-radius: 50%;
}
.az-img{
  width: 30px;
  /*display: block;*/
  margin-top: 12px;

}
.search-btn{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 50px;
}

.gender-select{
  width: 240px;
  border: solid 1px #666;
  margin: auto;
  background: white;
}
.gender-select .nav-item{
  width: 120px;
  height: 32px;
  line-height: 32px;
  font-size: 1.3em;
  color: #666666;
  background: white;
  float: left;
  text-align: center;
  font-weight: 700;
}

.gender-select .nav-item.selected{
  background: #666;
  color: white;
}

.tabs{
  background: rgba(255,255,255,0.8);
  border-bottom: solid 1px #ccc;
  margin-bottom: 10px;
}
.tabs .nav-item{
  width: 33%;
  float: left;
  cursor: pointer;
  background: rgba(255,255,255,0.8);
}

.tabs .nav-name{
  display: block;
  width: 70px;
  font-size: 1.15em;
  border-bottom: solid 2px rgba(255,255,255,0);
  margin: auto;
  text-align: center;
  line-height: 34px;
  color: black;
  /* line-height: ; */
  margin-bottom: -1px;
}
.tabs .selected .nav-name{
  border-color: #949cff;
}
/*.search-top{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
*/
/*字母*/
.alpha-index{
  margin-top: 10px;
  color: white;
  z-index: 200;
  text-align: center;
  font-size: 0.9em;
}
.alpha-index li{
  float: left;
  width: 7%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 3px;
  /*margin-bottom: 2px;*/
}
.alpha-index a{
  color: #fff;
}

.main-content{
  padding-top: 81px;
  /*background: black;*/
  /* padding-bottom: 44px; */
  padding-bottom: 80px;
  padding-left:3px;
}

/*设计师部分*/
.designers{
/*  border-style: solid;
  border-color: white;
  border-width: 1px 0 0 1px;
*/
  border-left: solid 1px white;
}
.designer, .category{
  width: 50%;
  float: left;
  display: block;
  box-sizing: border-box;
  border-right: solid 3px white;
  border-bottom: solid 3px white;
}
.designer{
  max-height: 250px;
}

/*图像待下一定要按比例320*200*/
.designer-bg{
  width: 100%;
  max-height: 250px;
  display: block;
}
.alpha{
  height: 40px;
  background: black;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 40px;
  padding: 0 15px;
  position: relative;
  cursor: pointer;
  /*border-bottom: solid 1px white;*/
}

.i-arrow-up, .i-arrow-down{
  position: absolute;
  right: 15px;
  top: 15px;
}
/*.category{
  width: 50%;
  float: left;
}
*/
.main-content.cate{
  border-left: solid 1px white;
  border-top: solid 1px white;
  padding: 0;

}
.category-img{
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 22px;
}

/*遮罩层部分*/
.search-mask{
  position: fixed;
  z-index: 500;
  background: rgba(55,44,76,0.95);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  display: none;
  padding-bottom: 50px;
}
.slidedown{
  width: 100%;
  display: block;
}
.search-form{
  padding: 7px 10px;
/*  background: url('/static/images/searchform.jpg');
  background-size: 100%;*/

  position: relative;
  height: 33px;
  background: rgba(0,0,0,0.2);
}
.search-form-bg{
  width: 250px;
  /*margin-left: 10px;*/
}
.search-input{
  padding: 2px;
  box-sizing: border-box;
  width: 190px;
  background: 100%; 
  position: absolute;
  left: 30px;
  top: 13px;
  border: 0;
  color: white;
  /*border-radius: 2px;*/
}
.close-search{
  position: absolute;
  right: 15px;
  top: 16px;
  color: white;
  font-weight: 200;
  font-size: 1.2em;
}
.designer-list{
  padding: 10px;
/*  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
*/
  /*margin-top: 90px;*/
  overflow-y: scroll;
  max-height: 80%;
}
.index-designer-wrapper{
  position: relative;
  margin-bottom: 10px;
}
.designer-index{
  color: #908f97;
  width: 30px;
  font-size: 20px;
}
.index-list{
  margin-left: 40px;
  /*border-left: solid 1px white;*/
  padding-bottom: 5px;
}
.index-list li{
  margin-left: 10px;
  margin-bottom: 10px;
}
.index-list a{
  color: white;
  /*padding-left: 10px;*/
}
.search-form .search-btn{
  top: 0px;
}
