@import url("../../lib/slick/slick.css");
@import url("../../lib/slick/slick-theme.css");

.login-content{
  padding: 8px 50px;
}
.logo{
  /* width: 40%; */
  width: 100px;
  display: block;
  margin: 44px auto 26px;
}

.phone-input, .psw-input, .user-input{
  position: relative;
  background: #f7f7f7;
  padding: 12px;
  color: #666;
  margin-bottom: 8px;
  border-radius: 2px;
}

.phone-input input, .psw-input input, .user-input input{
  border: 0;
  padding: 4px;
  width: 82%;
  background: #f7f7f7;
  font-size: 14px;

}
.phone-input input:focus, .user-input input:focus, .psw-input input:focus{
  outline: 0;
}

.login-btn{
  background: black;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  border-radius: 3px;
  margin-top: 18px;
}

.links{
  margin-top: 10px;
}

.third-party-login{
  margin-top: 35px;
  text-align: center;
}

.other-icons{
  margin-top: 10px;
}

.send-btn{
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 0;
  display: inline-block;
  color: #818181;
  font-size: 1.15em;
  line-height: 30px;
  padding: 0 10px;
  border: solid 1px #BBB;
  height: 30px;
  border-radius: 2px;
}

.login-direct{
	margin-top:5px;
	color: #adadad;
}

.login-direct a{
	color: #000;
}

.i-user, .i-psw{
  vertical-align: -3px;
}


/*覆盖dots部分样式*/
.slick-dots{
  bottom: 5px;
}
.slick-slider {
  margin-bottom: 0;
}
.slick-dots li {
  margin: 0;
}

.slides img{
  width: 100%;
  display: block;
}