<#include "../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<title>确认订单</title>
<content tag="css">/cart/cart</content>
<content tag="javascript">/cart/getorder</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/cart">