<#include "size_config.ftl">
<title>女装尺码导航</title>

<div class="banner">
  <a class="fl" id="j-back"><i class="icon i-back"></i></a>
  <span>女装尺码导航</span>
  <i class="icon i-nav-bar fr"></i>
</div>
			
<#-- <div style="margin:10px 5px 0 5px;text-align:center;font-size:14px;"><span style="vertical-align:5px;">向右滑动尺码图片查看更多</span><img class="arrow-right" style="width:20px;margin-right:5px;" src="/static/images/iconfont-right.png"></div> -->
<!--<img src="/static/images/right.gif" style="width:100%">-->
<div class="size">
	<div id="cloth">
		<img class="size-thead" src="/static/images/size/1/1.jpg">
		<div class="size-body"><img class="size-img" src="/static/images/size/1/2.jpg"></div>	
	</div>

	<div id="shoe">
		<img class="size-thead" src="/static/images/size/2/1.jpg">
		<div class="size-body"><img class="size-img" src="/static/images/size/2/2.jpg"></div>
	</div>	

	<div id="ring">
		<img class="size-thead" src="/static/images/size/3/1.jpg">
		<div class="size-body"><img style="height:187px" class="size-img" src="/static/images/size/3/2.jpg"></div>
	</div>	

	<div id="belt">
		<img class="size-thead" src="/static/images/size/4/1.jpg">
		<div class="size-body"><img style="height:112px" class="size-img" src="/static/images/size/4/2.jpg"></div>
	</div>		

	<div id="hat">
		<img class="size-thead" src="/static/images/size/5/1.jpg">
		<div class="size-body"><img style="height:187px" class="size-img" src="/static/images/size/5/2.jpg"></div>
	</div>		

</div>
