<#include "size_config.ftl">
<title>男装尺码导航</title>

<div class="banner">
  <a class="fl" id="j-back"><i class="icon i-back"></i></a>
  <span>男装尺码导航</span>
  <i class="icon i-nav-bar fr"></i>
</div>
			
<#-- <div style="margin:10px 5px 0 5px;text-align:center;font-size:14px;"><span style="vertical-align:5px;">向右滑动尺码图片查看更多</span><img class="arrow-right" style="width:20px;margin-right:5px;" src="/static/images/iconfont-right.png"></div>
 -->
<!--<img src="/static/images/right.gif" style="width:100%; margin-top:5px;">-->
<div class="size">
	<div id="cloth" style="top:30px">
		<img class="size-thead" src="/static/images/size/male/1/1.jpg">
		<div class="size-body"><img style="height:262px" class="size-img" src="/static/images/size/male/1/2.jpg"></div>	
	</div>

	<div id="shoe" style="top:322px">
		<img class="size-thead" src="/static/images/size/male/2/1.jpg">
		<div class="size-body"><img style="height:225px" class="size-img" src="/static/images/size/male/2/2.jpg"></div>
	</div>	

	<div id="ring" style="top:574px">
		<img class="size-thead" src="/static/images/size/male/3/1.jpg">
		<div class="size-body"><img style="height:75px" class="size-img" src="/static/images/size/male/3/2.jpg"></div>
	</div>	

	<div id="belt" style="top:680px">
		<img class="size-thead" src="/static/images/size/male/4/1.jpg">
		<div class="size-body"><img style="height:75px" class="size-img" src="/static/images/size/male/4/2.jpg"></div>
	</div>		


</div>
