<#include "../../config.ftl">
<#-- 设置当前页面的基本设置 start-->
<content tag="css">/item/size</content>
<content tag="javascript">/item/size</content>
<#-- 设置当前页面的基本设置 end-->

<#-- 页面内容部分 start -->
<#assign url = "/item/pay">