.address{ 
  padding: 10px 0 0px 10px;
  border-bottom: solid 1px #e7e7e7;
  color: #666;
  border-left: solid 4px white;
  margin-bottom: 15px;
  border-top: solid 1px #e7e7e7;
}
.address.selected{
  background: #f9f9f9;
  border-left: solid 4px #949cff;
}
.add-first{
  border-top: 0;
}
.receiver{
  padding: 14px 0;
}
.receiver-name, .receiver-phone{
  font-weight: 700;
  font-size: 1.1em;
}
.manipulate{
  line-height: 35px;
  vertical-align: middle;
}

.i-check-circle-border, .i-not-check-circle-border{
  vertical-align: -4px;
}
.address-text{
  border-top: solid 1px #e7e7e7;
  padding-bottom: 17px;
  position: relative;
  overflow: hidden;
}
.manipulate, .address-text{
  padding-right: 17px;
}
.j-text{
  position: relative;
  /*left: -70px;*/
}
.add-address-btn,
.update-customer-btn{
  width: 180px;
  height: 35px;
  line-height: 35px;
  color: #282828;
  text-align: center;
  border: solid 1px #282828;
  margin: 30px auto 10px auto;
}

.address-input-wrapper{
  padding: 15px;
  border-bottom: solid 1px #e5e5e5;
  color: #999999;
  position: relative;
}

#j-name{
	background: none;
	color: #000;
	margin-right: 0;
}

.address-input-wrapper span{
	color: #000;
}

.address-input-wrapper input{
  text-align: right;
  float: right;
  margin-right: 20px;
}

.address-input-wrapper input[type="radio"]{
	margin-right:4px;
}

.address-input-wrapper .sex-box{
	float: right;
}
.address-input-wrapper .sex-box input{
	float: none;
	-webkit-appearance: radio;
}

.address-input-wrapper input[type="date"]{
	-webkit-appearance: textfield;
}


.delete-btn{
  position: absolute;
  right: 0;
  top: 0;
/*  padding-top: 40%;
  box-sizing:border-box;*/
  text-align: center;
  bottom: 0;
  width: 70px;
  line-height: 70px;
  background: red;
  color: white;
}
.input-area{
  /* margin-left: 10px; */
}

.set-as-default{
  margin-top: 20px;
  margin-left: 10px;
}
.err-msg{
  margin-top: 10px;
  margin-left: 15px;
}

.arrow-icon{
	position: absolute;
	width: 15px;
	height: 13px;
    background-position: -57px -154px;
    top: 15px;
    right: 15px;
}