body{
	background-color: #F9F9F9;
}

.my-coupon-list{
	padding-top: 18px;
}

.my-coupon-list li{
	padding: 2%;
	background-color: #fff;
}

.my-coupon-list .coupon-cont{
	box-sizing: border-box;
	width: 100%;
	height: 80px;
	border: 2px solid #000;
}

.coupon-col-1{
	width: 30%;
	height: 100%;
	padding-left: 15px;
	float: left;
	box-sizing: border-box;
}

.coupon-col-1 .coupon-sums{
	font-size: 20px;
	padding: 10px 0 9px;
}

.coupon-col-1 .coupon-condition{
	font-size: 12px;
}

.coupon-col-2{
	width: 70%;
	height: 100%;
	float: left;
	text-align: center;
	padding-top: 16px;
	box-sizing: border-box;
}

.coupon-col-2 .coupon-id{
	font-size: 14px;
	padding-bottom: 10px;
	text-align: left;
}

.coupon-col-2 .couponId{
	width: 60%;
	padding:0;
	border: none;
}
.coupon-col-2 .coupon-time{
	font-size: 14px;
	text-align: left;
}

.coupon-col-3{
	width: 30%;
	height: 100%;
	float: left;
	padding-top: 16px;
}

.coupon-col-3 .copy-btn{
	padding: 4px 10px;
	background-color: #EBEBED;
}

.tips{
	padding: 20px 10px;
	color:#666;
}


