@charset "utf-8";
/* create 2015-09-24 */
body{
	background-color: #e4e4e4;
}
.banner{
	background-color: #fff;
}
.address-input-wrapper{
    /* height: 38px; */
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #fff;
    margin-top: 20px;
}

#j-code{
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

.add-address-btn{
    width: 60px;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    color: #fff;
    vertical-align: middle;
    float: right;
    text-align: center;
    border-radius: 4px;
}

