.avatar-wrapper{
  background: url("../../imgs/avatar-bg.png");
  text-align: center;
  /*height: 200px;*/
  padding-top: 20px;
  color: white;
  font-size: 1.1em;
  font-weight: 700;
}
.mine-nav{
  margin-bottom: 40px;
  height: 300px;
}

.user-avatar{
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  /*display: block;*/
}

.username-text{
	vertical-align: middle;
}

.status-wrapper{
  padding:10px 0;
  margin-top: 30px;
  background: rgba(0,0,0,0.7)
}

.status{
  color: white;
  float: left;
  width: 33%;
}

.mine-nav .nav-item{
  width: 100%;
  box-sizing: border-box;
  float: left;
  display: block;
  height: 44px;
  border-top: solid 1px #EEE;
  color: #787878;
  font-size: 1.1em;
  /* line-height: 1.3em; */
  line-height: 44px;
}

.mine-nav .nav-item:last-child{
	border-bottom:solid 1px #EEE;
}

.div-box{
	width: 100%;
	height: 10px;
	background-color: #e4e4e4;
	float: left;
}

.mine-nav .nav-item i{
	position: relative;
	top: 7px;
	left: 15px;
}

.mine-nav .nav-item span{
	padding-left: 20px;
}


.i-settings{
  position: absolute;
  right: 10px;
  top: 12px;
}

.setting-dropdown{
  position: absolute;
  top: 46px;
  right: 0;
  padding:10px;
  font-weight: 200;
  background: white;
  font-size: 0.9em;
  display: none;
}

.status{
  position: relative;
  display: inline-block;
}

.order-count{
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 22px;
  border-radius: 50%;
  background: #949CFF;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  top: -8px;
  left: 50%;
}

.i-my-coupon {
    width: 25px;
    height: 30px;
    background-position: -103px -270px;
}


