@import url(../../module/order.css);

.tabs.order-tabs{
	padding: 0 20px;
}
.tabs.order-tabs .nav-item{
	width: 20%;
}

.tabs.order-tabs .nav-name{
	font-size: 1.1em;
	line-height: 35px;
	width: 100%;
}

.info-wrapper{
  /*border-top: solid 1px #e7e7e7;*/
}

.order-status{
  padding: 5px;

}

.item-wrapper{
  border-top: solid 1px #e7e7e7;
	margin-top: 10px;
}

.status-0, .status-1, .status-4, .status-9{
	color: #ff6000;
}
.order-view-id{
  padding: 5px 0px;
  border-top: solid 1px #e7e7e7;
  padding-left: 10px;
  border-bottom: solid 1px #e7e7e7;
}
.order-view-id .other-info{
	text-align: left;
}
